.page-header
  = link_to estimates_path, class: 'btn btn-default' do
    %span.glyphicon.glyphicon-list-alt

    Atrás

  = link_to @estimate, class: 'btn btn-primary' do
    %span.glyphicon.glyphicon-info-sign
    Show
  %h1 Editar Estimaciones

= render 'form'
