.row
  .col-md-12
    %h1 Importar Estimaciones
    = form_tag import_estimates_path, multipart: true, class:'form-horizontal' do
      - unless @row_with_error.nil?
        = bootstrap_model_errors(@row_with_error, "Error en fila #{@row_with_error.row_number} del archivo excel:")

      .form-group
        %label.control-label.col-sm-2{:for => "file"} Archivo Excel:
        .col-sm-10
          = file_field_tag :file, class:'form-control'


      .form-group
        .col-sm-offset-2.col-sm-10
          = link_to 'Descargar excel ejemplo estimaciones',excel_example_estimates_path(format: "xlsx"), class: 'btn btn-default'
      .form-group
        .col-sm-offset-2.col-sm-10
          = submit_tag "Subir archivo", class:'btn btn-danger'

.page-header
  = link_to new_estimate_path, class: 'btn btn-primary' do
    %span.glyphicon.glyphicon-plus
    = "#{@actions_t[:new]} #{@estimate_t[:one]}"
  %h1
    = "#{@estimate_t[:other]}"

.table-responsive
  %table.table.table-striped.table-bordered.table-hover.table-initialization
    %thead
      %tr
        %th
          Concepto
        %th
          Tipo
        %th
          Monto
        %th
          Fecha
        %th
          Item
        %th
          Cuenta

    %tbody
      - @estimates.each do |estimate|
        %tr
          %td= link_to estimate.name, estimate
          %td= estimate.estimates_type
          %td= currency_format(estimate.amount)
          %td= document_date_format(estimate.date)
          %td= estimate.item.description if estimate.item.present?
          %td= estimate.account.name if estimate.account.present?

          %td=(link_to '<span class="glyphicon glyphicon-pencil"></span>'.html_safe, edit_estimate_path(estimate))+"  "+(link_to '<span class="glyphicon glyphicon-remove"></span>'.html_safe, estimate, data: { confirm: '¿Estás seguro?' }, method: :delete)
