.page-header
  = link_to adjustments_path, class: 'btn btn-default' do
    %span.glyphicon.glyphicon-list-alt
    Atrás

  = link_to edit_adjustment_path(@estimate), class: 'btn btn-primary' do
    %span.glyphicon.glyphicon-pencil
    Editar

  %h1="Transacción #{@estimate.name}"

%dl.dl-horizontal

  %dt Nombre:
  %dd= @estimate.name
  %dt Nombre Cuenta:
  %dd= @estimate.account.present? ? @estimate.account.name : ""
  %dt Nombre Item:
  %dd= @estimate.item.present? ? @estimate.item.description : ""
  %dt Monto transacción:
  %dd= currency_format(@estimate.amount)
  %dt Tipo:
  %dd= @estimate.estimates_type
