.row
  .col-md-12
    .form-group
      = form_for(base_adjustment,url:planification_process_base_adjustment_path(month_planification_id:base_adjustment.month_planification.id),format: :js,remote: true) do |f|
        =f.hidden_field :subfield_id
        #form_adjustment_control.form_control
          %h4
            Escoger la base presupuestaria
          .form-group
            = f.label "Tipo de base", class: 'col-sm-2 control-label'
            .col-sm-10x
              = f.select "base_type", options_for_select(BaseAdjustment::BASE_TYPES.values,base_adjustment.base_type), class:'form-control selected-period',:include_blank => true

        -# TODO: Change to hash
        -# TODO: Add validation
        .row
          .col-md-12
            %h4
              Base presupuestaria
            .col-md-8
              .panel.panel-warning
                %h3#base_type_amount.text-center
                  /TODO:Use a helper to round the amount
                  =currency_format(amount.to_f.round(2))
              =f.hidden_field :amount, value:amount.to_i
              =f.fields_for :theoric_adjustments do |adjustment|
                =adjustment.hidden_field :item_id
        .row
          .col-md-12
            = f.submit "Guardar", class: "btn btn-info btn-block"