.row
  .col-md-12
    = form_tag planification_new_monthly_budget_version_path, id:'new_monthly_version_form',class:'form-horizontal', method: :post do
      .row
        .col-md-8
          .form_control
            %input.form-control{:name => "year" ,:value => year, :type => "hidden"}
            %input.form-control{:name => "month" ,:value => month, :type => "hidden"}
            %input#new_version_name.form-control{:placeholder => "Ingresar el nombre de la versión", :type => "text",:required => true}

      %button.btn.btn-primary.pull-right{:type => "submit"} Crear
