= form_for(base_adjustment,format: :js,remote: true) do |f| #, html: {class:'form-horizontal',role:"form"}
  .row
    .col-md-12
      %h4
        2. Realizar ajustes con glosa
      %button#new-adjustment-button.btn.btn-info.full-width{:type => "button","data-base-adjustment-id"=>"#{base_adjustment.id}","data-item-id"=>"#{item.id}" }
        %icon.fa.fa-plus
        Agregar nuevo ajuste
      %h4
        Ajustes
      .row
        .col-md-3
          %h5
            Tipos de Ajustes
        .col-md-2
          %h5
            Porcentaje
        .col-md-2
          %h5
            Montos ($)
        .col-md-2
          %h5
            Glosa
        .col-md-2
          %h5.text-center
            Acciones

  -contador = 0
  =f.fields_for :theoric_adjustments do |adjustment|
    .row
      .col-md-3
        =adjustment.hidden_field :item_id
        = select_tag contador,options_for_select(['Monto','% Base'],:kind), class:'form-control adjustment_kind',data:{'position' => contador}
      .col-md-2.percentage-input.percentage-monthly
        %span.icon
          %i.fa.fa-times       
        =adjustment.number_field :percentage, class: 'form-control percentage-adjustment', min:0, step: :any, readonly:true, data:{'position' => contador, 'base-adjustment-id' => base_adjustment.id}
      .col-md-2.amount-input
        %span.icon
          %i.fa.fa-times
        =adjustment.number_field :amount, class: 'form-control amount-adjustment', step: :any,data:{'position' => contador}
      .col-md-3
        =adjustment.text_field :name, class: 'form-control text-adjustment'
      .col-md-2
        = link_to '#' do
          %icon.fa.fa-trash.delete_adjustment{"data-theoric_adjustment_id" => adjustment.object.id ,"data-base_adjustment_id" => base_adjustment.id}
        -contador += 1

  %h4
    3. Valor Final

  .panel.panel-success
    .panel-body
      %h2.text-center
        = "#{currency_format(sum_base_adjustment(base_adjustment))}"
  .row
    .col-md-12
      %button.btn.btn-info.full-width{:type => "submit",:id => "submit_adjustment_form-button"}
        Guardar

:javascript
  $(document).ready(function(){
      $('[data-toggle="tooltip"]').tooltip();   
  });
