$('#planification_details').html('<%= escape_javascript(render partial: "planification/planification_details", locals: { year:@year,month:@month,month_planification: @month_planification,subfields_info:@subfields_info, items_info:@items_info}) %>');
$('form-budget-table').html('<%= escape_javascript(render partial: "planification/forms/form_budget_base",locals: {base_adjustment: @base_adjustment,item:@item})%>');
$("#adjust_monthly_base_modal").modal("toggle");