.table-responsive
  %table#item_table.table.table-bordered
    %tr.active.text-center
      %th
        Código
      %th
        Descripción
      %th
        Interpretación CCC
      %th
        Código CCC
      %th
        Interpretación Cargabal
      %th
        Código Cargabal
      %th
        Código Ges
      %th
        Interpretación Ges
      %th
        Subrubro
      %th
        Formato Banco
      %th
        Formato Grupo
      %th
        Formato España
    %tr.text-center
      %td= item.code
      %td= item.description
      %td= item.interpretation_ccc.name if item.interpretation_ccc.present?
      %td= item.interpretation_ccc.code if item.interpretation_ccc.present?
      %td= item.interpretation_cargabal.name if item.interpretation_cargabal.present?
      %td= item.interpretation_cargabal.code if item.interpretation_cargabal.present?
      %td= item.interpretation_ge.name if item.interpretation_ge.present?
      %td= item.interpretation_ge.code if item.interpretation_ge.present?
      %td= item.subfield.name if item.subfield.present?
      %td= item.format_bank.name if item.format_bank.present?
      %td= item.format_group.name if item.format_group.present?
      %td= item.format_spain.name if item.format_spain.present?
