.row
  .col-md-2
    %select{:id => "annual_adjustment_group_virtual_annual_adjustments_attributes_#{contador}_kind",:name => "annual_adjustment_group[virtual_annual_adjustments_attributes][#{contador}][kind]", :class => 'form-control adjustment_kind',data:{'position' => contador}}
      %option{:selected => "selected", :value => "Monto"} Monto
      %option{:value => "% Base"} % Base
  .col-md-1
    %input.form-control.percentage-annual-adjustment{:id => "annual_adjustment_group_virtual_annual_adjustments_attributes_#{contador}_percentage",:max => "100", :min => "0", :name => "annual_adjustment_group[virtual_annual_adjustments_attributes][#{contador}][percentage]", :step => "any", :type => "number",data:{'position' => contador}}/
  .col-md-2
    %input.form-control.amount-annual-adjustment{:id => "annual_adjustment_group_virtual_annual_adjustments_attributes_#{contador}_amount",:min => "0", :name => "annual_adjustment_group[virtual_annual_adjustments_attributes][#{contador}][amount]", :step => "any", :type => "number", :value => "0.0"}/
  .col-md-2
    %select{:id =>"annual_adjustment_group_virtual_annual_adjustments_attributes_#{contador}_start_month",:name => "annual_adjustment_group[virtual_annual_adjustments_attributes][#{contador}][start_month]"}
      =options_for_select(both_locale_humanized_months[pivot_month..-1])
  .col-md-2
    %select{:id => "annual_adjustment_group_virtual_annual_adjustments_attributes_#{contador}_end_month",:name => "annual_adjustment_group[virtual_annual_adjustments_attributes][#{contador}][end_month]"}
      =options_for_select(both_locale_humanized_months[pivot_month..-1])
  .col-md-2
    %input.form-control.text-adjustment{:id => "annual_adjustment_group_virtual_annual_adjustments_attributes_#{contador}_name", :name => "annual_adjustment_group[virtual_annual_adjustments_attributes][#{contador}][name]", :type => "text", :value => "Ajust de ejemplo"}/
  .col-md-1
    %a{:href => "#"}
      %icon.fa.fa-trash.delete_virtual_adjustment
