-if (row.ord == 3)
  %td{colspan:"2"} 
    Total
-elsif (row.ord == 2)
  -if selected_columns.include?('subfield_name')
    %td{colspan:"2"}
      = row.subfield_name
-else
  - if selected_columns.include?('item_code')
    %td
      = row.item_code
  - if selected_columns.include?('item_description')
    %td
      = row.item_description

- if selected_columns.include?('january_transactions')
  %td
    = row.january_transactions
- if selected_columns.include?('february_transactions')
  %td
    = row.february_transactions
- if selected_columns.include?('march_transactions')
  %td
    = row.march_transactions
- if selected_columns.include?('april_transactions')
  %td
    = row.april_transactions
- if selected_columns.include?('may_transactions')
  %td
    = row.may_transactions
- if selected_columns.include?('june_transactions')
  %td
    = row.june_transactions
- if selected_columns.include?('july_transactions')
  %td
    = row.july_transactions
- if selected_columns.include?('august_transactions')
  %td
    = row.august_transactions
- if selected_columns.include?('september_transactions')
  %td
    = row.september_transactions
- if selected_columns.include?('october_transactions')
  %td
    = row.october_transactions
- if selected_columns.include?('november_transactions')
  %td
    = row.november_transactions
- if selected_columns.include?('december_transactions')
  %td
    = row.december_transactions