-if (row.ord == 3)
  %td{colspan:"2"} 
    Total
-elsif (row.ord == 2)
  -if selected_columns.include?('subfield_name')
    %td{colspan:"2"}
      = row.subfield_name
-else
  - if selected_columns.include?('item_code')
    %td
      = row.item_code
  - if selected_columns.include?('item_description')
    %td
      = row.item_description

%td
  - if selected_columns.include?('q1')||selected_columns.include?("q1_#{month}")
    -q1_to = "q1_#{month}".to_sym
    = quater_detail_link(selected_columns.include?('q1') ? row.q1 : row[q1_to],'q1',row.subfield_name,row.item_code)
  -else 
    0


%td
  - if selected_columns.include?('q2')||selected_columns.include?("q2_#{month}")
    -q2_to = "q2_#{month}".to_sym
    = quater_detail_link(selected_columns.include?('q2') ? row.q2 : row[q2_to],'q2',row.subfield_name,row.item_code)
  -else
    0
%td
  - if selected_columns.include?('q3')||selected_columns.include?("q3_#{month}")
    -q3_to = "q3_#{month}".to_sym
    = quater_detail_link(selected_columns.include?('q3') ? row.q3 : row[q3_to],'q3',row.subfield_name,row.item_code)
  -else
    0

%td
  - if selected_columns.include?('q4')||selected_columns.include?("q4_#{month}")
    -q4_to = "q4_#{month}".to_sym
    = quater_detail_link(selected_columns.include?('q4') ? row.q4 : row[q4_to],'q4',row.subfield_name,row.item_code)
  -else 
    0

- if selected_columns.include?('january_transactions')
  %td
    = currency_format(row.january_transactions)
- if selected_columns.include?('february_transactions')
  %td
    = currency_format(row.february_transactions)
- if selected_columns.include?('march_transactions')
  %td
    = currency_format(row.march_transactions)
- if selected_columns.include?('april_transactions')
  %td
    = currency_format(row.april_transactions)
- if selected_columns.include?('may_transactions')
  %td
    = currency_format(row.may_transactions)
- if selected_columns.include?('june_transactions')
  %td
    = currency_format(row.june_transactions)
- if selected_columns.include?('july_transactions')
  %td
    = currency_format(row.july_transactions)
- if selected_columns.include?('august_transactions')
  %td
    = row.august_transactions
- if selected_columns.include?('september_transactions')
  %td
    = currency_format(row.september_transactions)
- if selected_columns.include?('october_transactions')
  %td
    = currency_format(row.october_transactions)
- if selected_columns.include?('november_transactions')
  %td
    = currency_format(row.november_transactions)
- if selected_columns.include?('december_transactions')
  %td
    = currency_format(row.december_transactions)

- if selected_columns.include?('january_budget')
  %td
    =currency_format(row.january_budget)
- if selected_columns.include?('february_budget')
  %td
    =currency_format(row.february_budget)
- if selected_columns.include?('march_budget')
  %td
    =currency_format(row.march_budget)
- if selected_columns.include?('april_budget')
  %td
    =currency_format(row.april_budget)
- if selected_columns.include?('may_budget')
  %td
    =row.may_budget
- if selected_columns.include?('june_budget')
  %td
    =currency_format(row.june_budget)
- if selected_columns.include?('july_budget')
  %td
    =currency_format(row.july_budget)
- if selected_columns.include?('august_budget')
  %td
    =currency_format(row.august_budget)
- if selected_columns.include?('september_budget')
  %td
    =currency_format(row.september_budget)
- if selected_columns.include?('october_budget')
  %td
    =currency_format(row.october_budget)
- if selected_columns.include?('november_budget')
  %td
    =currency_format(row.november_budget)
- if selected_columns.include?('december_budget')
  %td
    =currency_format(row.december_budget)
- if selected_columns.include?('year_budget')
  %td
    =currency_format(row.year_budget)
  
- if selected_columns.include?('january_transactions_budgeted')
  %td
    =currency_format(row.january_transactions_budgeted)
- if selected_columns.include?('february_transactions_budgeted')
  %td
    =currency_format(row.february_transactions_budgeted)
- if selected_columns.include?('march_transactions_budgeted')
  %td
    =currency_format(row.march_transactions_budgeted)
- if selected_columns.include?('april_transactions_budgeted')
  %td
    =currency_format(row.april_transactions_budgeted)
- if selected_columns.include?('may_transactions_budgeted')
  %td
    =currency_format(row.may_transactions_budgeted)
- if selected_columns.include?('june_transactions_budgeted')
  %td
    =currency_format(row.june_transactions_budgeted)
- if selected_columns.include?('july_transactions_budgeted')
  %td
    =currency_format(row.july_transactions_budgeted)
- if selected_columns.include?('august_transactions_budgeted')
  %td
    =currency_format(row.august_transactions_budgeted)
- if selected_columns.include?('september_transactions_budgeted')
  %td
    =currency_format(row.september_transactions_budgeted)
- if selected_columns.include?('october_transactions_budgeted')
  %td
    =currency_format(row.october_transactions_budgeted)
- if selected_columns.include?('november_transactions_budgeted')
  %td
    =currency_format(row.november_transactions_budgeted)

- if selected_columns.include?('december_transactions_budgeted')
  %td
    =currency_format(row.december_transactions_budgeted)


- if selected_columns.include?('item_code')
  - if (row.ord == 2)
    %td.text-center
      %a{class:'define-annual-base','data-subfield-name' => row.subfield_name, 'data-item-code' => row.item_code   }
        %icon.fa.fa-edit
          Ajustar base

  - elsif (row.ord == 1)
    %td
      - if base_adjustments.any? { |base_adjustment| base_adjustment.subfield.name == row.subfield_name && base_adjustment.item.code == row.item_code && base_adjustment.base_type.present? }
        %a{class:'annual-adjustments','data-subfield-name' => row.subfield_name, 'data-item-code' => row.item_code }
          %icon.fa.fa-edit
            Ajustes
      - else
        Definir Base  

  - else
    %td
      -

