%ul.sidebar-menu
  = render partial: "shared/sidebar/menu_option", locals:{css_class:'active',path:users_path,icon_option:'users',menu_name: t('menu.users')}
  = render partial: "shared/sidebar/menu_option", locals:{css_class:'',path:items_path,icon_option:'info',menu_name: t('menu.items')}
  = render partial: "shared/sidebar/menu_option", locals:{css_class:'',path:accounts_path,icon_option:'bank',menu_name: t('menu.accounts')}
  = render partial: "shared/sidebar/menu_option", locals:{css_class:'',path:cost_centers_path,icon_option:'cc',menu_name: t('menu.cost_centers')}
  = render partial: "shared/sidebar/menu_option", locals:{css_class:'',path:transactions_path,icon_option:'usd',menu_name: t('menu.transactions')}
  = render partial: "shared/sidebar/menu_option", locals:{css_class:'',path:adjustments_path,icon_option:'usd',menu_name: t('menu.adjustment')}
  = render partial: "shared/sidebar/menu_option", locals:{css_class:'',path:budgets_path,icon_option:'calculator',menu_name: t('menu.budget')}
  /= render partial: "shared/sidebar/menu_option", locals:{css_class:'',path:estimates_path,icon_option:'calculator',menu_name: t('menu.estimates')}
  = render partial: "shared/sidebar/menu_option", locals:{css_class:'',path:reports_control_path,icon_option:'bars',menu_name: t('menu.control_report')}
  = render partial: "shared/sidebar/menu_option", locals:{css_class:'',path:reports_detailed_control_path,icon_option:'bars',menu_name: t('menu.detailed_control_report')}
  = render partial: "shared/sidebar/menu_option", locals:{css_class:'',path:reports_consultation_path,icon_option:'eye',menu_name: t('menu.query_report')}
  = render partial: "shared/sidebar/menu_option", locals:{css_class:'',path:planification_monthly_path,icon_option:'money',menu_name: t('menu.planification')}
  = render partial: "shared/sidebar/menu_option", locals:{css_class:'',path:annual_planification_planification_path,icon_option:'money', menu_name: t('menu.planification_end_to_year')}

  = content_tag :li do
    = link_to users_path, method: :delete do
      = icon("sign-out")
      Cerrar sesión
