.sidebar-user
  = image_tag "anon.jpg", width: "100", class: "img-circle"
  %h4
    Erwin Aguero
  %span.sidebar-role Administrador
  = link_to root_path, class: "btn btn-default btn-sm" do
    = icon("home")
    Inicio
