-if month_planification
  - month_name =get_month(month.to_i,false)
  .panel.panel-warning
    .panel-heading#selected_period
      ="Periodo selecionado : #{month_name} - #{year}"

  %table.table.table-bordered#transaction-details
    %tr{"data-node" => "treetable-1"}

      %th.text-center{colspan:"2"}
        Subrubros
      %th.text-center.danger{colspan:"5"}
        Gastos ($MM)
      %th.text-center.success{colspan:"1",rowspan:"2"}
        ="Presupuesto de #{month_name} ($MM)"
      %th.text-center{colspan:"1",rowspan:"2"}
        ="Planificación de gasto #{month_name} ($MM)"
      %th.text-center{rowspan:"2"}
        Acciones
    %tr.active{"data-node" => "treetable-2"}

      %th.text-center
        Código Ítem
      %th.text-center
        Ítem
      %th.text-center Q1
      %th.text-center Q2
      %th.text-center Q3
      %th.text-center Q4
      %th.text-center Gasto - Mes anterior


    %tr.text-center.active{"data-node" => "treetable-0"}
      %td{colspan:"2",class:'subrubro', 'data-subrubro' =>'Total'}
        Total
      %td{'data-q1' => '950'}
        %a.quater-detail{'data-quater' => 1}
          =currency_format(get_quarter_total(subfields_info,1,month))
      %td{'data-q2' => '550'}
        %a.quater-detail{'data-quater' => 2}
          =currency_format(get_quarter_total(subfields_info,2,month))
      %td{'data-q3' => '80'}
        %a.quater-detail{'data-quater' => 3}
          =currency_format(get_quarter_total(subfields_info,3,month))
      %td{'data-q4' => '10'}
        %a.quater-detail{'data-quater' => 4}
          =currency_format(get_quarter_total(subfields_info,4,month))
      %td{'data-previous-month' => '55'}
        =currency_format(get_total(subfields_info,"last_month"))
      %td{'data-current-month' => '15'}
        =currency_format(get_total(subfields_info,"actual_budget"))

      %td#total_base_adjustment_sum{'data-budget' => ""}
        =currency_format(get_total_base_adjustment_sum(month_planification))
      %td
        -
    -if subfields_info.present?
      -subfields_info.each_with_index do |subfield_info,subfield_index|
        -subfield = get_subfield(subfield_info['name'])
        %tr.active{"data-node" => "treetable-#{subfield_index}"}
          %td{colspan:"2", class:'subrubro', 'data-subrubro' => "#{subfield.name}"}
            =subfield.name
          .text-center
            %td.text-center
              %a.quater-detail{'data-quater' => 1}
                =currency_format(get_quarter(subfield_info,1,month))
            %td.text-center
              %a.quater-detail{'data-quater' => 2}
                =currency_format(get_quarter(subfield_info,2,month))
            %td.text-center
              %a.quater-detail{'data-quater' => 3}
                =currency_format(get_quarter(subfield_info,3,month))
            %td.text-center
              %a.quater-detail{'data-quater' => 4}
                =currency_format(get_quarter(subfield_info,4,month))
            %td.text-center{'data-previous-month' => '45'}
              =currency_format(subfield_info["last_month"].to_i)
            %td.text-center{'data-current-month' => '10'}
              =currency_format(subfield_info["actual_budget"].to_i)
            %td.text-center{'data-budget' => "",'id'=>"base_adjustment_sum_subfield#{subfield.id}"}
              =currency_format(get_base_adjustments_sum(subfield,month_planification))
            %td.text-center
              %a{class:'define-adjustments','data-subfield_name' => "#{subfield.name}"}
                %icon.fa.fa-edit
                  Ajustar base
        -items_info.each_with_index do |item_info,month_index|
          -item = get_item(item_info["code"])
          -if item.subfield_id == subfield.id
            %tr.text-center{"data-node" => "treetable-#{subfield_index}#{month_index}","data-pnode"=>"treetable-parent-#{subfield_index}"}
              %td{class:'item', 'data-subrubro' => "#{subfield.name}",'data-item-code' =>"#{item.code}",'data-item-description' => "#{item.description}"}
                =item.code
              %td{class:'item'}
                =item.description
              %td
                %a.quater-detail{'data-quater' => 1}
                  =currency_format(get_quarter(item_info,1,month))
              %td
                %a.quater-detail{'data-quater' => 2}
                  =currency_format(get_quarter(item_info,2,month))
              %td
                %a.quater-detail{'data-quater' => 3}
                  =currency_format(get_quarter(item_info,3,month))
              %td
                %a.quater-detail{'data-quater' => 4}
                  =currency_format(get_quarter(item_info,4,month))
              %td{'data-previous-month' => '25'}
                =currency_format(item_info["last_month"].to_i)
              %td{'data-current-month' => '5'}
                =currency_format(item_info["actual_budget"].to_i)
              -transaction_budgeted = get_theoric_adjustments_sum(subfield,item,month_planification)
              %td{'data-budget' => "",'id'=>"theoric_adjustment_sum_subfield#{subfield.id}_item#{item.id}"}
                =currency_format(transaction_budgeted)
              -if (transaction_budgeted == 0.0)
                %td
                  Definir base
              -else
                %td
                  %a{class:'adjustments','data-item_code' => "#{item.code}"}
                    %icon.fa.fa-edit
                      Ajustes
:javascript
  $(document).ready(function(){
    $("#transaction-details").treeFy({treeColumn: 0});
   });
