
planification_details = $('#planification_details');
planification_details.empty();
planification_details.html('<%= escape_javascript(render "planification/planification_details",year:@year,month:@month,month_planification: @month_planification,subfields_info:@subfields_info, items_info:@items_info) %>');

select_version_name = $('#select_version_name');
select_version_name.empty();
select_version_name.html('<%= escape_javascript( render partial:"planification/new_version_monthly_planification" , locals: { year: @year,month: @month,month_planification_name:@month_planification_name } ) %>');
