

planification_details = $('#planification_details');
planification_details.empty();
planification_details.html('<%= escape_javascript(render "planification/planification_details",year:@year,month:@month,month_planification: @month_planification,subfields_info:@subfields_info, items_info:@items_info) %>');
