$('#form-budget-table').html('<%= escape_javascript(render partial: "planification/forms/form_budget_base", locals: { item: @item, base_adjustment:@base_adjustment }) %>');
$("#theoric_adjustment_sum_subfield"+<%=@subfield.id%>+"_item"+<%=@item.id%>).html('<%=currency_format(get_theoric_adjustments_sum(@subfield,@item,@month_planification))%>');
$("#base_adjustment_sum_subfield"+<%=@subfield.id%>).html('<%=currency_format(get_base_adjustments_sum(@subfield,@month_planification))%>');
$("#total_base_adjusctment_sum").html('<%=currency_format(get_total_base_adjustment_sum(@month_planification))%>');