-if @notification
  =render "shared/gritter_notifications" 
.row
  .col-md-12.text-center.planification-title
    %h2 Planificación Presupuestaria
#periods.col-md-6
  .row#period_analysis
    .col-md-12
      %h3 1. Escoge el período presupuestario a asignar
  .row
    .col-md-4
      .form-group
        %label{for:'year'} Año
        = select_tag "year", options_for_select(options_years,@year), class:'form-control selected-period'

    .col-md-8
      .form-group
        %label{for:'month'} Mes
        = select_tag "month", options_for_select(options_months,@month),class:'form-control selected-period'
#versions.col-md-6
  .row
    .col-md-12
      %h3
        2. Versiones
  .row
    .col-md-12
      %label{:for => "version_name"} Escoga el nombre de la versión que desea visualizar

  .row
    .col-md-6#select_version_name
      = select_tag "version_name", options_for_select(month_planification_versions(@month,@year),@month_planification_name),class:'form-control version-name'
    .col-md-6
      %button.btn.btn-primary{"id"=> "new_version"} Crear nueva versión

.row
  .col-md-12
    %h3 3. Detalle de gastos y presupuestos

  #planification_details.col-md-12
    = render 'planification/planification_details',year:@year,month:@month,month_planification: @month_planification,subfields_info:@subfields_info, items_info:@items_info

.row
  .col-md-12
    %h3 4. Reporte de control
.row
  .col-md-12
    %ul.nav.nav-tabs
      %li
        %a#total_control_report.control_report{:href => "#",'data-report' => nil, :class=>"active"} Total
      %li
        %a.control_report{:href => "#",'data-report' => "#{get_report_type('format_spain')}"} Categoria España
      %li
        %a.control_report{:href => "#",'data-report' => "#{get_report_type('local_gp')}"} Categoria Local GP

#report_control_table

#container_modal_budget_detail
#container_modal_new_monthly_budget
#container_modal_quater_details


