
// remove garbish from modal
removeModalFadeIn();
//Render modal for subfield

$('#container_modal_new_monthly_budget').empty();
$('#container_modal_new_monthly_budget').html('<%= escape_javascript(render partial: "planification/modals/new_version", locals: { year: @year, month: @month ,month_name:@month_name}) %>');
//Open modal
$("#new_monthly_version").modal("show");
