//Close Modal
$('#new_monthly_version').modal('toggle');
//Add new option to select
var option_selected = "<%= @version %>";

select_version = $('#version_name');
select_version.append('<%= escape_javascript( render partial:"planification/new_version_monthly_planification" , locals: { version: @version } ) %>');

change_selected_option(select_version, option_selected);

//Change the selected option
planification_details = $("#planification_details");
planification_details.empty();
planification_details.html('<%= escape_javascript(render "planification/planification_details",budget_item1: 0) %>');
