// remove garbish from modal
removeModalFadeIn();
//Render modal for item
$('#container_modal_budget_detail').empty();
$('#container_modal_budget_detail').html('<%= escape_javascript(render partial: "planification/modals/modal_budget_detail_by_item", locals: { item: @item, budget:@base_badget, base_adjustment:@base_adjustment }) %>');

//Open modal
$("#budget_detail_by_item").modal("show");
