removeModalFadeIn();
//Render modal for subfield
$('#container_modal_budget_detail').empty();
$('#container_modal_budget_detail').html('<%= escape_javascript(render partial: "planification/modals/modal_adjust_monthly_base", locals: { subfield: @subfield, budget:@base_budget, base_adjustment:@base_adjustment,amount:@amount }) %>');
//Open modal
$("#adjust_monthly_base_modal").modal("show");