// remove garbish from modal
removeModalFadeIn();
//Render modal for subfield

$('#container_modal_quater_details').empty();
$('#container_modal_quater_details').html('<%= escape_javascript(render partial: "planification/modals/quater_details", locals: { quarter: @quarter, year:@year, month:@month,month_planification:@month_planification,subfields_info:@subfields_info,items_info:@items_info,subfield_name:@subfield_name,item_code:@item_code}) %>');

//Open modal
$("#quater_details_modals").modal("show");


$(".quater_details_table").treeFy({ treeColumn:0} );
