$("#planification_details").html('<%= escape_javascript(render partial: "planification/planification_details", locals: { year:@year,month:@month,month_planification: @month_planification,subfields_info:@subfields_info, items_info:@items_info}) %>');
$("#adjust_monthly_base_modal").modal("toggle");

notification_container = $('#gritter-container');
notification_container.empty();
notification_container.html('<%= j render partial: "shared/gritter_notifications" %>');
