.table-responsive
  %table.table.table-striped.table-bordered.table-hover#budgets-table{ "data-source" => "#{source_budgets_path(format: :json)}"}
    %thead
      %tr
        %th Código Ítem
        %th Año
        %th Mes
        %th Monto
        %th Acciones
    %tbody