= form_for @budget, html: { class: "form-horizontal", role: "form" } do |f|
  -if @budget.errors.any?
    .alert.alert-danger.alert-dismissable{role: "alert"}
      %button.close{type: "button", data: {dismiss: "alert"} }
        %span{aria: {hidden: "true"} } &times;
        %span.sr-only Close
      %h4= "#{pluralize(@budget.errors.count, "error")} prohibido que este presupuesto se guarde:"

      %ul
        - @budget.errors.full_messages.each do |msg|
          %li= msg
  .form-group
    = f.label :month, class: 'col-sm-2 control-label'
    .col-sm-10
      = f.select :month, options_for_select(options_months),class: 'form-control'
  .form-group
    = f.label :year, class: 'col-sm-2 control-label'
    .col-sm-10
      = f.number_field :year, class: 'form-control', step:1,min:1950,value:DateTime.now.year
  .form-group
    = f.label :amount, class: 'col-sm-2 control-label'
    .col-sm-10
      = f.number_field :amount, class: 'form-control', step: :any, min:0
  .form-group
    = f.label :item_id, class: 'col-sm-2 control-label'
    .col-sm-10
      = f.text_field :item_id, class: 'form-control'
  .form-group
    .col-sm-offset-2.col-sm-10
      = f.submit class: 'btn btn-primary'
