.page-header
  = link_to budgets_path, class: 'btn btn-default' do
    %span.glyphicon.glyphicon-list-alt
    Atrás
  = link_to @budget, class: 'btn btn-primary' do
    %span.glyphicon.glyphicon-info-sign
    Mostrar presupuesto
  %h1 Editar presupuesto

= render 'form'
