-@budget_t = t('activerecord.models.budget')
-@budget_attributes_t = t('activerecord.attributes.budget')
-@actions_t = t('actions')
.page-header
  %h1 Importar presupuestos
= form_tag import_budgets_path, multipart: true, class:'form-horizontal', :id=>'import_form' do
  - unless @row_with_error.nil?
    = bootstrap_model_errors(@row_with_error,"error en la fila #{@row_with_error.row_number} del archivo excel: ")
  .form-group
    %label.control-label.col-sm-2{:for => "year"} Año archivo:
    .col-sm-10
      = select_year(Date.today, :start_year => 2000,:id=>'select_year', :end_year => Date.today.year, :field_name => :year, :order => [:year], :prompt => {:year => "Selecciona el año"})
  .form-group
    %label.control-label.col-sm-2{:for => "file"} archivo Excel:
    .col-sm-10
      = file_field_tag :file, class: 'form-control', :id=>'upload'

  .form-group
    .col-sm-offset-2.col-sm-10
      = submit_tag "Subir archivo de items",class: 'btn btn-danger', :id => 'upload' #on click(select_year valor) averigaur como hacer un get con parametro
      = link_to 'Descargar excel ejemplo',excel_example_budgets_path(format: "xlsx"), class: 'btn btn-default'


.page-header
  = link_to new_budget_path, class: 'btn btn-primary' do
    %span.glyphicon.glyphicon-plus
    = "#{@actions_t[:new]} #{@budget_t[:one]}"
  %h1
    = "#{@budget_t[:other]}"

= render partial:"budgets_table"