.page-header
  = link_to budgets_path, class: 'btn btn-default' do
    %span.glyphicon.glyphicon-list-alt
    Atrás
  = link_to edit_budget_path(@budget), class: 'btn btn-primary' do
    %span.glyphicon.glyphicon-pencil
    Editar
  %h1 Presupuesto

%dl.dl-horizontal
  %dt Mes:
  %dd= @budget.month
  %dt Año:
  %dd= @budget.year
  %dt Monto:
  %dd= @budget.amount
  %dt Codigo del ítem:
  %dd= @budget.item.code
  %dt Nombre del ítem:
  %dd= @budget.item.description
