- @attributes_translation = t('activerecord.errors.messages')
= form_for @user, html: { class: "form-horizontal", role: "form" } do |f|
  -if @user.errors.any?
    .alert.alert-danger.alert-dismissable{role: "alert"}
      %button.close{type: "button", data: {dismiss: "alert"} }
        %span{aria: {hidden: "true"} } &times;
        %span.sr-only Close
      %h4= "#{pluralize(@user.errors.count, "error")}: no se ha podido guardar el usuario:"

      %ul
        - @user.errors.full_messages.each do |msg|
          %li= msg

  .form-group
    = f.label :name, class: 'col-sm-2 control-label'
    .col-sm-10
      = f.text_field :name, class: 'form-control'
  .form-group
    = f.label :last_name, class: 'col-sm-2 control-label'
    .col-sm-10
      = f.text_field :last_name, class: 'form-control'
  .form-group
    = f.label :rut, class: 'col-sm-2 control-label'
    .col-sm-10
      = f.text_field :rut, class: 'form-control'
  .form-group
    = f.label :dv, class: 'col-sm-2 control-label'
    .col-sm-10
      = f.text_field :dv, class: 'form-control'
  .form-group
    = f.label :cost_center, class: 'col-sm-2 control-label'
    .col-sm-10
      = f.text_field :cost_center, class: 'form-control'
  .form-group
    = f.label :department, class: 'col-sm-2 control-label'
    .col-sm-10
      = f.text_field :department, class: 'form-control'
  .form-group
    = f.label :division, class: 'col-sm-2 control-label'
    .col-sm-10
      = f.text_field :division, class: 'form-control'
  .form-group
    = f.label :area, class: 'col-sm-2 control-label'
    .col-sm-10
      = f.text_field :area, class: 'form-control'
  .form-group
    = f.label :subarea, class: 'col-sm-2 control-label'
    .col-sm-10
      = f.text_field :subarea, class: 'form-control'
  .form-group
    .col-sm-offset-2.col-sm-10
      = f.submit class: 'btn btn-primary'
