.table-responsive
  %table.table.table-striped.table-bordered.table-hover#users-table{ "data-source" => "#{source_users_path(format: :json)}"}
    %thead
      %tr
        %th ID
        %th Nombre
        %th Apellido
        %th Edad
        %th Genero
        %th Acciones
    %tbody