.page-header
  = link_to users_path, class: 'btn btn-default' do
    %span.glyphicon.glyphicon-list-alt
    Atrás
  = link_to @user, class: 'btn btn-primary' do
    %span.glyphicon.glyphicon-info-sign
    Editar
  %h1 Editar usuario

= render 'form'
