- @user_translation = t('activerecord.models.user')
- @attributes_translation = t('activerecord.attributes.user')
- @actions_translation = t('actions')

.page-header
  %h1 Importar Usuarios
= form_tag import_users_path, multipart: true, class:'form-horizontal' do
  - unless @row_with_error.nil?
    = bootstrap_model_errors(@row_with_error, "Error en fila #{@row_with_error.row_number} del archivo excel:")

  .form-group
    %label.control-label.col-sm-2{:for => "file"} Archivo Excel:
    .col-sm-10
      = file_field_tag :file, class:'form-control'

  .form-group
    .col-sm-offset-2.col-sm-10
      = submit_tag "Subir archivo de usuarios", class:'btn btn-danger'
      = link_to 'Descargar excel ejemplo',excel_example_users_path(format: "xlsx"), class: 'btn btn-default'

.page-header
  = link_to new_user_path, class: 'btn btn-primary' do
    %span.glyphicon.glyphicon-plus
    = "#{@actions_translation[:new]} #{@user_translation[:one]}"
  %h1
    = @user_translation[:other]

= render partial: "users_table"