.page-header
  = link_to users_path, class: 'btn btn-default' do
    %span.glyphicon.glyphicon-list-alt
    Atrás
  = link_to edit_user_path(@user), class: 'btn btn-primary' do
    %span.glyphicon.glyphicon-pencil
    Editar
  %h1 Usuario

%dl.dl-horizontal
  %dt Nombre:
  %dd= @user.name
  %dt Apellido:
  %dd= @user.last_name
  %dt Rut:
  %dd= "#{@user.rut}-#{@user.dv}"
  %dt Centro de Costo asignado:
  %dd= @user.cost_center
  %dt Departamento:
  %dd= @user.department
  %dt División:
  %dd= @user.division
  %dt Área:
  %dd= @user.area
  %dt Subárea:
  %dd= @user.subarea
