%h4
  1. Base presupuestaria
.row
  .col-md-offset-2.col-md-4
    %h5
      Tipo de base
  .col-md-4
    %h5
      Monto de base ($MM)
.row
  .col-md-offset-1.col-md-4
    .panel.panel-warning
      %h3.text-center
        =base_adjustment.base_type
  .col-md-4
    .panel.panel-warning
      %h3#base_details_amount.text-center{name: base_adjustment.amount.to_i}
        =currency_format(base_adjustment.amount.to_i)
