/ Modal
#annual_new_version.modal.fade{"aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog{:role => "document"}
    .modal-content
      .modal-header
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} ×
        %h2#new_version_modal_title.modal-title 
          = "Nueva version para #{month_name_by_number(month)} - #{year} "

      .modal-body
        = render 'annual_planification/forms/new_annual_version',new_annual_planification: new_annual_planification
        
      .modal-footer
        %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Cerrar