/ Modal
#modal_annual_adjustments.modal.fade{"aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog{:role => "document"}
    .modal-content
      .modal-header
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} ×
        %h2#annual-adjustments-title.modal-title
          Ajustes

      .modal-body
        /Source : https://stackoverflow.com/questions/31119237/passing-parameters-to-rails-partial
        = render 'annual_planification/shared/item_details', item: item
        = render 'annual_planification/shared/base_details', annual_base_adjustment: annual_base_adjustment

        #form-adjustments
          = render 'annual_planification/forms/form_virtual_adjustments', annual_adjustment_group: annual_adjustment_group, pivot_month: pivot_month,annual_base_adjustment:annual_base_adjustment

      .modal-footer
        %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Cerrar