/ Modal
#annual_adjust_monthly_base_modal.modal.fade{"aria-labelledby" => "modal", :role => "dialog", :tabindex => "-1"}
  .modal-dialog{:role => "document"}
    .modal-content
      .modal-header
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} ×
        %h2#new_version_modal_title.modal-title
          Ajustar base
      .modal-body
        = render 'annual_planification/forms/form_adjust_base', annual_base_adjustment: annual_base_adjustment,base_amount:base_amount,base_type_options:base_type_options

      .modal-footer
        %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Cerrar
