- l_annual_report = t('activerecord.attributes.annual_planification_report')
#annual_quater_details_modals.modal.fade{"aria-labelledby" => "quater_details_modal", :role => "dialog", :tabindex => "-1"}
  .modal-dialog{:role => "document"}
    .modal-content
      .modal-header
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} ×
        .modal-title
          %h3
            = "Detalle del trimestre #{quarter} - #{year}"

      .modal-body
        - unless annual_planification_report.present?

        - else
          - parents = []
          .panel.panel-warning
            .panel-heading#annual_selected_period
              = "Periodo selecionado : #{month_name_by_number(month)} - #{year}"

          - if item_code.present?
            .col-md-3
              .card.card-stats
                .card-content{"data-background-color"=> "blue"}
                  %p.category.text-center
                    %i.fa.fa-info-circle
                      Código Ítem
                  %h4.title.text-center
                    = "#{item_code}"
          %table.table.table-bordered#quarter-transaction-report
            %tr{"data-node" => "treetable-1"}
              %td.text-center{colspan:"2"}
                Subrubros
              %td.text-center.danger{colspan:"3"}
                Gastos

            %tr{"data-node" => "treetable-2"}
              - if selected_columns.include?('item_code')
                %td
                  = l_annual_report[:item_code]

              - if selected_columns.include?('item_description')
                %td
                  = l_annual_report[:item_description]

              - if selected_columns.include?('january_transactions')
                %td
                  = l_annual_report[:january_transactions]

              - if selected_columns.include?('february_transactions')
                %td
                  = l_annual_report[:february_transactions]

              - if selected_columns.include?('march_transactions')
                %td
                  = l_annual_report[:march_transactions]

              - if selected_columns.include?('april_transactions')
                %td
                  = l_annual_report[:april_transactions]

              - if selected_columns.include?('may_transactions')
                %td
                  = l_annual_report[:may_transactions]

              - if selected_columns.include?('june_transactions')
                %td
                  = l_annual_report[:june_transactions]

              - if selected_columns.include?('july_transactions')
                %td
                  = l_annual_report[:july_transactions]

              - if selected_columns.include?('august_transactions')
                %td
                  = l_annual_report[:august_transactions]

              - if selected_columns.include?('september_transactions')
                %td
                  = l_annual_report[:september_transactions]

              - if selected_columns.include?('october_transactions')
                %td
                  = l_annual_report[:october_transactions]

              - if selected_columns.include?('november_transactions')
                %td
                  = l_annual_report[:november_transactions]

              - if selected_columns.include?('december_transactions')
                %td
                  = l_annual_report[:december_transactions]

            - annual_planification_report.each_with_index do |row,row_index|
              - off_set = 3
              - new_row_index = row_index + off_set
              - parents,node_parent_index = set_node_parent(3,row,new_row_index,parents)

              - if node_parent_index
                %tr{"data-node" => "treetable-#{new_row_index}","data-pnode"=>"treetable-parent-#{node_parent_index}"}
                  = render "annual_planification/shared/tr_quarter_columns", row: row, selected_columns: selected_columns, quarter: quarter
              - else
                %tr{"data-node" => "treetable-#{new_row_index}"}
                  = render "annual_planification/shared/tr_quarter_columns", row: row, selected_columns: selected_columns, quarter: quarter


      .modal-footer
        %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Cerrar
:javascript
  $(document).ready(function(){
      $('#quarter-transaction-report').treeFy({treeColumn:0});
   });