.table-responsive
  %table.table.table-striped.table-bordered.table-hover#cost-centers-table{ "data-source" => "#{source_cost_centers_path(format: :json)}"}
    %thead
      %tr
        %th Código
        %th Nombre
        %th División
        %th Gerencia
        %th Área
        %th Subarea
        %th Acciones
    %tbody