= form_for @cost_center, html: { class: "form-horizontal", role: "form" } do |f|
  -if @cost_center.errors.any?
    .alert.alert-danger.alert-dismissable{role: "alert"}
      %button.close{type: "button", data: {dismiss: "alert"} }
        %span{aria: {hidden: "true"} } &times;
        %span.sr-only Close
      %h4= "#{pluralize(@cost_center.errors.count, "error")} prohibido que este centro de costo se guarde:"

      %ul
        - @cost_center.errors.full_messages.each do |msg|
          %li= msg
  .form-group
    = f.label :code, class: 'col-sm-2 control-label'
    .col-sm-10
      = f.text_field :code, class: 'form-control'
  .form-group
    = f.label :name, class: 'col-sm-2 control-label'
    .col-sm-10
      = f.text_field :name, class: 'form-control'
  .form-group
    = f.label :descripcion, class: 'col-sm-2 control-label'
    .col-sm-10
      = f.text_field :description, class: 'form-control'
  .form-group
    = f.label :division, class: 'col-sm-2 control-label'
    .col-sm-10
      = f.text_field :division, class: 'form-control'
  .form-group
    = f.label :gerencia, class: 'col-sm-2 control-label'
    .col-sm-10
      = f.text_field :management, class: 'form-control'
  .form-group
    = f.label :area, class: 'col-sm-2 control-label'
    .col-sm-10
      = f.text_field :area, class: 'form-control'
  .form-group
    = f.label :subarea, class: 'col-sm-2 control-label'
    .col-sm-10
      = f.text_field :subarea, class: 'form-control'
  .form-group
    .col-sm-offset-2.col-sm-10
      = f.submit class: 'btn btn-primary'
