- load_index_translations
.row
  .col-md-12
    %h1 Importar Centros de Costo
    = form_tag import_cost_centers_path, multipart: true, class:'form-horizontal' do
      - unless @row_with_error.nil?
        = bootstrap_model_errors(@row_with_error, "Error en fila #{@row_with_error.row_number} del archivo excel:")

      .form-group
        %label.control-label.col-sm-2{:for => "file"} Archivo Excel:
        .col-sm-10
          = file_field_tag :file, class:'form-control'
      .form-group
        .col-sm-offset-2.col-sm-10
          = submit_tag "Subir archivos de costos", class:'btn btn-danger'
          = link_to 'Descargar ejemplo',import_excel_example_cost_centers_path(format: "xlsx"), class: 'btn btn-default'

.page-header
  = link_to new_cost_center_path, class: 'btn btn-primary' do
    %span.glyphicon.glyphicon-plus
    = "#{@actions_t[:new]} centro de costo"
  %h1
    Centro de Costos

= render partial: "cost_centers_table"