.page-header
  = link_to cost_centers_path, class: 'btn btn-default' do
    %span.glyphicon.glyphicon-list-alt
    Atrás
  = link_to edit_cost_center_path(@cost_center), class: 'btn btn-primary' do
    %span.glyphicon.glyphicon-pencil
    Editar
  %h1 Centro de Costo

%dl.dl-horizontal
  %dt Codigo:
  %dd= @cost_center.code
  %dt Nombre:
  %dd= @cost_center.name
  %dt Descripción:
  %dd= @cost_center.description
  %dt División:
  %dd= @cost_center.division
  %dt Gerencia:
  %dd= @cost_center.management
  %dt Área
  %dd= @cost_center.area
  %dt Subarea:
  %dd= @cost_center.subarea
