- month_index  = month_index_by_number(pivot_month)
- month_availables = both_locale_humanized_months[month_index..-1]

= form_for(annual_adjustment_group,url:annual_planification_process_adjustments_path,method: :post,remote: true) do |f|
  = f.hidden_field :annual_base_adjustment_id, value: annual_base_adjustment.id
  .row
    .col-md-12
      %h4
        2. Realizar ajustes con glosa
      %button#new-annual-adjustment-button.btn.btn-info.full-width{:type => "button"}
        %icon.fa.fa-plus
        Agregar nuevo ajuste
      %h4
        Ajustes
      .row
        .col-md-2
          %h5
            Tipos de Ajustes
        .col-md-1
          %h5
            Porcentaje
        .col-md-2
          %h5
            Montos ($)
        .col-md-2
          %h5
            Desde
        .col-md-2
          %h5
            Hasta
        .col-md-2
          %h5
            Glosa
        .col-md-1
          %h5.text-center
            Acciones
  #virtual_adjustment_form
    -contador = 0
    = f.fields_for :virtual_annual_adjustments do |virtual_adjustment|
      .row
        .col-md-2
          = virtual_adjustment.select :kind, options_for_select(['Monto','% Base'],virtual_adjustment.object.kind), {},{:class => 'form-control adjustment_kind',data:{'position' => contador}}
        
        -if virtual_adjustment.object.kind == 'Monto'
          .col-md-1.percentage-input.percentage-annual
            %span.icon
              %i.fa.fa-times 
            = virtual_adjustment.number_field :percentage, value: virtual_adjustment.object.percentage, min: 0, max: 100, step: :any,readonly:true, class: "form-control percentage-annual-adjustment",data:{'position' => contador}
        -else
          .col-md-1.percentage-input
            %span.icon
              %i.fa.fa-times 
            = virtual_adjustment.number_field :percentage, value: virtual_adjustment.object.percentage, min: 0, max: 100, step: :any,readonly:false, class: "form-control percentage-annual-adjustment",data:{'position' => contador}
        .col-md-2.amount-input
          %span.icon
            %i.fa.fa-times 
          = virtual_adjustment.number_field :amount, value: virtual_adjustment.object.amount, step: :any, class: "form-control amount-adjustment"
        .col-md-2
          = virtual_adjustment.select :start_month,options_for_select(month_availables,virtual_adjustment.object.start_month), class:'form-control selected-period'
        .col-md-2
          = virtual_adjustment.select :end_month,options_for_select(month_availables,virtual_adjustment.object.end_month), class:'form-control selected-period'
        .col-md-2
          = virtual_adjustment.text_field :name, class: 'form-control text-adjustment'
        .col-md-1
          = link_to '#' do
            %icon.fa.fa-trash.delete_virtual_adjustment
        -contador += 1
  .row
    .col-md-12.text-center.top-buffer
      = f.submit "Guardar", class: "btn btn-info btn-block"
