.row
  .col-md-12
    .form-group
      = form_for(annual_base_adjustment,url:annual_planification_adjust_base_path(annual_base_adjustment,format: :js),:remote =>true) do |f|
        =f.hidden_field :subfield_id
        =f.hidden_field :id
        #form_adjustment_control.form_control
          %h4
            Escoger la base presupuestaria
          .form-group
            = f.label "Tipo de base", class: 'col-sm-2 control-label'
            .col-sm-10
              = f.select "base_type", options_for_select(base_type_options.invert,annual_base_adjustment.base_type), class:'form-control selected-period',:include_blank => true 
        .row
          .col-md-12
            %h4
              Base presupuestaria
            .col-md-8
              .panel.panel-warning
                %h3#annual_base_type_amount.text-centers
                  =currency_format(annual_base_adjustment.amount.to_i)
              =f.hidden_field :amount, value:annual_base_adjustment.amount.to_i

              =f.fields_for :theoric_adjustments do |adjustment|
                =adjustment.hidden_field :item_id
        .row
          .col-md-12
            %button.btn.btn-info.full-width{:type => "submit"}
              Guardar