.row
  .col-md-12
    = form_for new_annual_planification, url: annual_planification_create_annual_version_path,id:'form_annual_new_version', class:'form-horizontal', method: :post do |f|
      .errors

      .row
        .col-md-8
          .form_control
            %input#new_version_name.form-control{:placeholder => "Ingresar el nombre de la versión", :type => "text",:required => true}
      
      = f.submit "Crear", class: "btn btn-primary pull-right"