#budget_detail_by_item.modal.fade{"aria-labelledby" => "modal", :role => "dialog", :tabindex => "-1"}
  .modal-dialog{:role => "document"}
    .modal-content
      .modal-header
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"}
        %h2#myModalLabel.modal-title

          Asignación de Presupuesto
      .modal-body
        /Source : https://stackoverflow.com/questions/31119237/passing-parameters-to-rails-partial
        = render 'planification/shared/item_details', item: item
        = render 'planification/shared/base_details' , base_adjustment: base_adjustment
        #form-budget-table
          = render 'planification/forms/form_budget_base', base_adjustment: base_adjustment,item:item

      .modal-footer

        %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Cerrar
