/ Modal
#adjust_monthly_base_modal.modal.fade{"aria-labelledby" => "modal", :role => "dialog", :tabindex => "-1"}
  .modal-dialog{:role => "document"}
    .modal-content
      .modal-header
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} ×
        %h2#new_version_modal_title.modal-title
          ="Ajustar base #{subfield.name}"
      .modal-body
        = render 'planification/forms/form_adjust_base', subfield: subfield, base_adjustment: base_adjustment,amount:amount
      .modal-footer
        %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Cerrar
