/ Modal
#new_monthly_version.modal.fade{"aria-labelledby" => "new_version", :role => "dialog", :tabindex => "-1"}
  .modal-dialog{:role => "document"}
    .modal-content
      .modal-header
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"}
        %h2#new_version_modal_title.modal-title
          ="Nueva version para #{month_name} - #{year}"
      .modal-body
        = render partial: "planification/forms/form_new_version", locals: {year: year,month: month}
      .modal-footer
        %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Cerrar
