#quater_details_modals.modal.fade{"aria-labelledby" => "quater_details_modal", :role => "dialog", :tabindex => "-1"}
  .modal-dialog{:role => "document"}
    .modal-content
      .modal-header
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} ×
        .modal-title
          %h3
            = "Detalle del trimestre #{quarter} - #{year}"

      .modal-body
        .row
          -if !(subfield_name=="Total")
            .col-md-3.col-md-offset-3
              .card.card-stats
                .card-content{"data-background-color"=> "blue"}
                  %p.category.text-center
                    %i.fa.fa-info-circle
                      Subrubro
                  %h4.title.text-center
                    = "#{subfield_name}"

          - if item_code.present?
            .col-md-3
              .card.card-stats
                .card-content{"data-background-color"=> "blue"}
                  %p.category.text-center
                    %i.fa.fa-info-circle
                      Código Ítem
                  %h4.title.text-center
                    = "#{item_code}"

        -first_month = (quarter.to_i*3)-2
        %table.table.table-bordered.quater_details_table
          %tr{"data-node" => "treetable-0"}
            %th.text-center{colspan:"2"}
              Subrubros
            %th.text-center.danger{colspan:"3"}
              Gastos
          %tr.active{"data-node" => "treetable-0"}
            %th.text-center
              Código Ítem
            %th.text-center
              Ítem
            %th.text-center
              =get_month(first_month,false)
            %th.text-center
              =get_month(first_month+1,false)
            %th.text-center
              =get_month(first_month+2,false)
          -final_month = month
          -if subfield_name=="Total"
            %tr.text-center.active{"data-node" => "treetable-1"}
              %td{colspan:"2",class:'item', 'data-item-code' =>'T0101000001'}
                Total
              -(first_month..first_month+2).each do |month|
                %td
                  -if month <= final_month
                    =currency_format(get_total(subfields_info,get_month(month,true)))
                  -else
                    =currency_format(0)

          -subfields_info.each_with_index do |subfield_info,subfield_index|
            -subfield = ""
            -if item_code.blank?
              -if subfield_name == subfield_info['name'] || subfield_name == "Total"
                -subfield = get_subfield(subfield_info['name'])

                %tr.active{"data-node" => "treetable-#{subfield_index}"}
                  %td{colspan:"2", class:'item', 'data-item-code' =>'T0101000001'}
                    =subfield.name
                  .text-center
                    -(first_month..first_month+2).each do |actual_month|
                      %td.text-center
                        -if actual_month <= final_month
                          =currency_format(subfield_info[get_month(actual_month,true)].to_i)
                        -else
                          =currency_format(0)
                    
            -else
              -subfield = get_subfield(subfield_name)

            -items_info.each_with_index do |item_info,month_index|
              -if item_code.blank? && subfield.present?
                -item = get_item(item_info["code"])
                -if item.subfield_id == subfield.id
                  %tr.text-center{"data-node" => "treetable-#{subfield_index}#{month_index}","data-pnode"=>"treetable-parent-#{subfield_index}"}
                    %td{class:'item', 'data-item-code' =>'T0101000001'}
                      =item.code
                    %td
                      =item.description
                    -(first_month..first_month+2).each do |actual_month|
                      %td
                        -if actual_month <= final_month
                          =currency_format(item_info[get_month(actual_month,true)].to_i)
                        -else
                          =currency_format(0)
              -else
                -if item_code == item_info["code"] && subfield_name == subfield_info['name']
                  -item = get_item(item_info["code"])
                  %tr.text-center{"data-node" => "treetable-#{subfield_index}#{month_index}","data-pnode"=>"treetable-parent-#{subfield_index}"}
                    %td{class:'item', 'data-item-code' =>'T0101000001'}
                      =item.code
                    %td{class:'item','data-item-code'=>'Gratificación Legal'}
                      =item.description
                    -(first_month..first_month+2).each do |actual_month|
                      %td
                        -if actual_month <= final_month
                          =currency_format(item_info[get_month(actual_month,true)].to_i)
                        -else
                          =currency_format(0)
      .modal-footer
        %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Cerrar
