= form_for @item, html: { class: "form-horizontal", role: "form" } do |f|
  -if @item.errors.any?
    .alert.alert-danger.alert-dismissable{role: "alert"}
      %button.close{type: "button", data: {dismiss: "alert"} }
        %span{aria: {hidden: "true"} } &times;
        %span.sr-only Close
      %h4= "#{pluralize(@item.errors.count, "error")} prohibido que este item se guarde:"

      %ul
        - @item.errors.full_messages.each do |msg|
          %li= msg

  .form-group
    = f.label :code, class: 'col-sm-2 control-label'
    .col-sm-10
      = f.text_field :code, class: 'form-control'
  .form-group
    = f.label :description, class: 'col-sm-2 control-label'
    .col-sm-10
      = f.text_field :description, class: 'form-control'
  .form-group
    = f.label :interpretation_ccc, class: 'col-sm-2 control-label'
    .col-sm-10.select_form
      -ccc = @item.interpretation_ccc
      = f.select :interpretation_ccc_id, options_for_select(InterpretationCcc.all.map {|u| [u.name, u.id]},[ccc.present? ? ccc.name : nil,ccc.present? ? ccc.id : nil]), :include_blank => false
  .form-group
    = f.label :interpretation_cargabal, class: 'col-sm-2 control-label'
    .col-sm-10.select_form
      -cargabal = @item.interpretation_cargabal
      = f.select :interpretation_cargabal_id, options_for_select(InterpretationCargabal.all.map {|u| [u.name, u.id]},[cargabal.present? ? cargabal.name : nil,cargabal.present? ? cargabal.id : nil]), :include_blank => false
  .form-group
    = f.label :interpretation_ge, class: 'col-sm-2 control-label'
    .col-sm-10.select_form
      -ge = @item.interpretation_ge
      = f.select :interpretation_ge_id, options_for_select(InterpretationGe.all.map {|u| [u.name, u.id]},[ge.present? ? ge.name : nil,ge.present? ? ge.id : nil]), :include_blank => false
  .form-group
    = f.label :subfield, class: 'col-sm-2 control-label'
    .col-sm-10.select_form
      -subfield = @item.subfield
      = f.select :subfield_id, options_for_select(Subfield.all.map {|u| [u.name, u.id]},[subfield.present? ? subfield.name : nil,subfield.present? ? subfield.id : nil]), :include_blank => false
  .form-group
    = f.label :format_bank, class: 'col-sm-2 control-label'
    .col-sm-10.select_form
      -bank = @item.format_bank
      = f.select :format_bank_id, options_for_select(FormatBank.all.map {|u| [u.name, u.id]},[bank.present? ? bank.name : nil,bank.present? ? bank.id : nil]), :include_blank => false
  .form-group
    = f.label :format_group, class: 'col-sm-2 control-label'
    .col-sm-10.select_form
      -group = @item.format_group
      = f.select :format_group_id, options_for_select(FormatGroup.all.map {|u| [u.name, u.id]},[group.present? ? group.name : nil,group.present? ? group.id : nil]), :include_blank => false
  .form-group
    = f.label :format_spain, class: 'col-sm-2 control-label'
    .col-sm-10.select_form
      -spain = @item.format_spain
      = f.select :format_spain_id, options_for_select(FormatSpain.all.map {|u| [u.name, u.id]},[spain.present? ? spain.name : nil,spain.present? ? spain.id : nil]), :include_blank => false
  .form-group
    .col-sm-offset-2.col-sm-10
      = f.submit class: 'btn btn-primary',:value => "Actualizar Item"
