.table-responsive
  %table.table.table-striped.table-bordered.table-hover#items-table{ "data-source" => "#{source_items_path(format: :json)}"}
    %thead
      %tr
        %th Code
        %th Descripción
        %th Interpretacion CCC
        %th Codigo CCC
        %th Interpretacion Cargabal
        %th Codigo Cargabal
        %th Interpretacion Ges
        %th Codigo Ges
        %th Subfield
        %th Formato Banco
        %th Formato Grupo
        %th Formato España
        %th Acciones
    %tbody