.page-header
  = link_to items_path, class: 'btn btn-default' do
    %span.glyphicon.glyphicon-list-alt
    Atrás
  = link_to @item, class: 'btn btn-primary' do
    %span.glyphicon.glyphicon-info-sign
    Mostrar
  %h1 Editar item

= render 'form'
