-@item_t = t('activerecord.models.item')
-@item_attributes_t = t('activerecord.attributes.item')
-@actions_t = t('actions')
.page-header
  %h1 Importar items
= form_tag import_items_path, multipart: true, class:'form-horizontal' do
  - unless @row_with_error.nil?
    = bootstrap_model_errors(@row_with_error,"error en la fila #{@row_with_error.row_number} del archivo excel: ")

  .form-group
    %label.control-label.col-sm-2{:for => "file"} archivo Excel:
    .col-sm-10
      =file_field_tag :file, class: 'form-control'

  .form-group
    .col-sm-offset-2.col-sm-10
      = submit_tag "Subir archivo de items",class: 'btn btn-danger'
      = link_to 'Descargar excel ejemplo',excel_example_items_path(format: "xlsx"), class: 'btn btn-default'
.page-header
  = link_to new_item_path, class: 'btn btn-primary' do
    %span.glyphicon.glyphicon-plus
    = "#{@actions_t[:new]} #{@item_t[:one]}"
  %h1
    = @item_t[:other]

= render partial: "items_tables"