.page-header
  = link_to items_path, class: 'btn btn-default' do
    %span.glyphicon.glyphicon-list-alt
    Atrás
  = link_to edit_item_path(@item), class: 'btn btn-primary' do
    %span.glyphicon.glyphicon-pencil
    Editar
  %h1 Mostrar item

%dl.dl-horizontal
  %dt Codigo:
  %dd= @item.code
  %dt Descripción:
  %dd= @item.description
  - if @item.interpretation_ccc.present?
    %dt Interpretación ccc:
    %dd= @item.interpretation_ccc.name
  -if @item.interpretation_cargabal.present?
    %dt Interpretación cargabal:
    %dd= @item.interpretation_cargabal.name
  -if @item.interpretation_ge.present?
    %dt Interpretación ges:
    %dd= @item.interpretation_ge.name
  -if @item.subfield.present?
    %dt Subcampo:
    %dd= @item.subfield.name
  -if @item.format_bank.present?
    %dt Formato banco:
    %dd= @item.format_bank.name
  -if @item.format_group.present?
    %dt Formato grupo:
    %dd= @item.format_group.name
  -if @item.format_spain.present?
    %dt Formato españa:
    %dd= @item.format_spain.name
