
a.quater-detail:hover{
  text-decoration: none;
}

a.quater-detail:visited{
  text-decoration: none;
}
#base_adjustment_base_type{
  width: 20em;
}
#delete-adjustment{
  width: 8em;
}
.planification-title{
  border-bottom: 1px solid black;
}

.amount-input span{
  display: none;
}

.amount-monthly:hover span{
  display: block;
}

.amount-annual:hover span{
  display: block;
}

.percentage-input span{
  display: none;
}

.percentage-monthly:hover span{
  display: block;
}

.percentage-annual:hover span{
  display: block;
}
