- l_annual_report = t('activerecord.attributes.annual_planification_report')
-month_name = month_name_by_number(month.to_i) #to get the month_name instaed of the month number
- unless annual_planification_report.present?

- else
  - parents = []
  .panel.panel-warning
    .panel-heading#annual_selected_period
      = "Periodo selecionado : #{month_name} - #{year}"

  %table.table.table-bordered#annual-transaction-report
    %tr{"data-node" => "treetable-1"}
      %th.text-center{colspan:"2"}
        Subrubros
      %th.text-center.danger{colspan:"5"}
        Gastos ($MM)
      %th.text-center.success{colspan:"1",rowspan:"1"}
        Presupuesto ($MM)
      %th.text-center{colspan:"#{calculate_budgeted_columns(selected_columns,2+6+1,month)}"}
        Planificación de gasto ($MM)
      %th.text-center{rowspan:"2"}
        Acciones

    %tr{"data-node" => "treetable-2"}
      - if selected_columns.include?('item_code')
        %th.text-center
          = l_annual_report[:item_code]
      - if selected_columns.include?('item_description')
        %th.text-center
          = l_annual_report[:item_description]
    
      %th.text-center
        = l_annual_report[:q1]
    
      %th.text-center
        = l_annual_report[:q2]
    
      %th.text-center
        = l_annual_report[:q3]
    
      %th.text-center
        = l_annual_report[:q4]

      - if selected_columns.include?('january_transactions')
        %td
          = l_annual_report[:january_transactions]

      - if selected_columns.include?('february_transactions')
        %th.text-center
          = l_annual_report[:february_transactions]

      - if selected_columns.include?('march_transactions')
        %th.text-center
          = l_annual_report[:march_transactions]

      - if selected_columns.include?('april_transactions')
        %th.text-center
          = l_annual_report[:april_transactions]

      - if selected_columns.include?('may_transactions')
        %th.text-center
          = l_annual_report[:may_transactions]

      - if selected_columns.include?('june_transactions')
        %th.text-center
          = l_annual_report[:june_transactions]

      - if selected_columns.include?('july_transactions')
        %th.text-center
          = l_annual_report[:july_transactions]

      - if selected_columns.include?('august_transactions')
        %th.text-center
          = l_annual_report[:august_transactions]

      - if selected_columns.include?('september_transactions')
        %th.text-center
          = l_annual_report[:september_transactions]

      - if selected_columns.include?('october_transactions')
        %th.text-center
          = l_annual_report[:october_transactions]

      - if selected_columns.include?('november_transactions')
        %th.text-center
          = l_annual_report[:november_transactions]

      - if selected_columns.include?('december_transactions')
        %th.text-center
          = l_annual_report[:december_transactions]

      %th.text-center
        = month_name
      - if selected_columns.include?('january_transactions_budgeted')
        %th.text-center
          = l_annual_report[:january_transactions_budgeted]

      - if selected_columns.include?('february_transactions_budgeted')
        %th.text-center
          = l_annual_report[:february_transactions_budgeted]

      - if selected_columns.include?('march_transactions_budgeted')
        %th.text-center
          = l_annual_report[:march_transactions_budgeted]

      - if selected_columns.include?('april_transactions_budgeted')
        %th.text-center
          = l_annual_report[:april_transactions_budgeted]

      - if selected_columns.include?('may_transactions_budgeted')
        %th.text-center
          = l_annual_report[:may_transactions_budgeted]

      - if selected_columns.include?('june_transactions_budgeted')
        %th.text-center
          = l_annual_report[:june_transactions_budgeted]

      - if selected_columns.include?('july_transactions_budgeted')
        %th.text-center
          = l_annual_report[:july_transactions_budgeted]

      - if selected_columns.include?('august_transactions_budgeted')
        %th.text-center
          = l_annual_report[:august_transactions_budgeted]

      - if selected_columns.include?('september_transactions_budgeted')
        %th.text-center
          = l_annual_report[:september_transactions_budgeted]

      - if selected_columns.include?('october_transactions_budgeted')
        %th.text-center
          = l_annual_report[:october_transactions_budgeted]

      - if selected_columns.include?('november_transactions_budgeted')
        %th.text-center
          = l_annual_report[:november_transactions_budgeted]

      - if selected_columns.include?('december_transactions_budgeted')
        %th.text-center
          = l_annual_report[:december_transactions_budgeted]

    - annual_planification_report.each_with_index do |row,row_index|
      - off_set = 3
      - new_row_index = row_index + off_set
      - parents,node_parent_index = set_node_parent(3,row,new_row_index,parents)

      - if node_parent_index
        %tr{"data-node" => "treetable-#{new_row_index}","data-pnode"=>"treetable-parent-#{node_parent_index}"}
          = render "annual_planification/shared/tr_columns", row: row, selected_columns: selected_columns, base_adjustments: base_adjustments,month:month
      - else
        %tr{"data-node" => "treetable-#{new_row_index}"}
          = render "annual_planification/shared/tr_columns", row: row, selected_columns: selected_columns, base_adjustments: base_adjustments,month:month



:javascript
  $(document).ready(function(){
      $('#annual-transaction-report').treeFy({treeColumn:0});
   });
