$('#virtual_adjustment_form').append("<%= escape_javascript(render partial: 'annual_planification/shared/new_virtual_adjustment', locals: {new_adjustment_id:@new_adjustment_id, pivot_month:@pivot_month,contador:@virtual_adjustment_count})%>")