$('#annual_planification_details').html("<%= escape_javascript(render partial: 'annual_planification/annual_planification_report', locals: {year: @year, month: @month, annual_planification_report: @annual_planification_report, selected_columns: @selected_columns,base_adjustments:@base_adjustments})%>");
$("#annual_adjust_monthly_base_modal").modal("toggle");

notification_container = $('#gritter-container');
notification_container.empty();
notification_container.html('<%= j render partial: "shared/gritter_notifications" %>');