
$('#annual_planification_details').html("<%= escape_javascript(render partial: 'annual_planification/annual_planification_report', locals: {year: @year, month: @month, annual_planification_report: @annual_planification_report, selected_columns: @selected_columns,base_adjustments:@base_adjustments})%>");
version_id = $('#version-name-input');
version_id.empty();
version_id.html('<%= escape_javascript(render partial: "annual_planification/shared/select_annual_planification", locals: {label_name: nil, label_text: nil, id:"annual_plannification_name",values: @versions ,selected_value:@default_version, css_classes: "form-control annual-version-name"}) %>');
