$('#annual_adjustment_group_virtual_annual_adjustments_attributes_' + <%=@position%> + '_amount').attr('value', <%=@amount%>);
$('#annual_adjustment_group_virtual_annual_adjustments_attributes_' + <%=@position%> + '_amount').val(<%=@amount%>);