control_report_details = $('#annual_control_report_table');
control_report_details.empty();
control_report_details.html('<%= escape_javascript(render "reports/control_resume",alpha_month: @alpha_month, year: @year, control_report_detail: @control_report_detail,total_planification:@total_planification) %>');