//Close Modal
$('#new_version_name').val("");
$('#annual_new_version').modal('toggle');

//Add new option to select 
var option_selected = "<%= @version %>";

select_version = $('#annual_plannification_name');
select_version.append('<%= escape_javascript( render partial:"annual_planification/new_version_option" , locals: { version: @version } ) %>');

change_selected_option(select_version, option_selected);

//Change the selected option
planification_details = $("#annual_planification_details");
planification_details.empty();
planification_details.html('<%= escape_javascript(render "annual_planification/annual_planification_details_mockup", budget_item1: 0, budget_monthly:0) %>');