removeModalFadeIn();
//Render modal for subfield
$('#annual_budget_detail_by_item').empty();

$('#annual_budget_detail_by_item').html('<%= escape_javascript(render partial: "annual_planification/modals/modal_adjust_monthly_base", locals: { subfield: @subfield, budget:@base_budget,amount:@amount, annual_base_adjustment: @annual_base_adjustment,base_amount:@base_amount, base_type_options: @base_type_options, base_adjustments: @base_adustments }) %>');

$("#annual_adjust_monthly_base_modal").modal("show");