removeModalFadeIn();
//Render modal for subfield
container = $('#annual_adjustments_modal_container');
container.empty();
container.html('<%= escape_javascript(render partial: "annual_planification/modals/modal_annual_adjustments", locals: { year:@year, pivot_month:@pivot_month,item: @item,annual_base_adjustment: @annual_base_adjustment, annual_adjustment_group: @annual_adjustment_group }) %>');
// 
//Open modal
$("#modal_annual_adjustments").modal("show");