$('#annual_new_version_modal').html('<%= escape_javascript(render partial: "annual_planification/modals/annual_new_version", locals: { new_annual_planification: @new_annual_planification, year: @year, month: @month}) %>');
$("#annual_new_version").modal("show");