.row
  .col-md-12.text-center.planification-title
    %h2 Planificación Presupuestaria Anual
#annual-periods.col-md-6
  .row#annual_period_analysis
    .col-md-12
      %h3 1. Escoge el periódo presupuestario a asignar

    .col-md-12
      El presupuesto anual considera todos los meses a partir del seleccionado hasta fin de año.
  .row 
    %label
  .row
    .col-md-4
      #year-input.form-group
        = render "annual_planification/shared/select_annual_planification", label_name: "year", label_text: "Año" ,id:"annual_plannification_year",values: options_years,selected_value:@year, css_classes: 'form-control planification'

    .col-md-8
      #month-input.form-group
        = render "annual_planification/shared/select_annual_planification", label_name: "month", label_text: "Mes", id:"annual_plannification_month",values: options_months ,selected_value:@month, css_classes: 'form-control planification'
#annual-versions.col-md-6
  .row
    .col-md-12
      %h3
        2. Versiones
    .col-md-12
      Una versión te indica una marca para que puedas recordar la planificación realizada de forma fácil.
  .row
    .col-md-12
      %label{:for => "annual_version_name"} Escoga el nombre de la versión que desea visualizar o de lo contrario cree una nueva
  .row
    #version-name-input.col-md-8
      = render "annual_planification/shared/select_annual_planification", label_name: nil, label_text: nil, id:"annual_plannification_name",values: @versions ,selected_value:@default_version, css_classes: 'form-control planification annual-version-name'

    .col-md-4
      %button#new_annual_planification_button.btn.btn-primary
        Crear nueva versión

.row
  .col-md-12
    %h3 3. Detalle de gastos y presupuestos anuales

  #annual_planification_notifications

  #annual_planification_details.col-md-12
    = render 'annual_planification/annual_planification_report', year: @year, month: @month, annual_planification_report: @annual_planification_report, selected_columns: @selected_columns, base_adjustments: @base_adjustments

.row
  .col-md-12
    %h3 4. Reporte de control
.row
  .col-md-12
    %ul.nav.nav-tabs
      %li
        %a#total_control_report.annual_control_report{:href => "#",'data-report' => nil, :class=>"active"} Total
      %li
        %a.annual_control_report{:href => "#",'data-report' => "#{get_report_type('format_spain')}"} Categoria España
      %li
        %a.annual_control_report{:href => "#",'data-report' => "#{get_report_type('local_gp')}"} Categoria Local GP

#annual_control_report_table


#annual_budget_detail_by_item

#annual_adjustments_modal_container

#annual_container_modal_quater_details

#annual_new_version_modal