$('#modal_annual_adjustments').modal("toggle");
annual_report_container = $('#annual_planification_details');
annual_report_container.empty();
annual_report_container.html('<%= escape_javascript(render "annual_planification/annual_planification_report", year: @year, month: @month, annual_planification_report: @annual_planification_report, selected_columns: @selected_columns,base_adjustments:@base_adjustments) %>');

notification_container = $('#annual_planification_notifications');
notification_container.empty();
notification_container.html('<%= j render partial: "shared/gritter_notifications" %>')