container = $('#annual_container_modal_quater_details');
container.empty();
container.html("<%= escape_javascript(render partial: 'annual_planification/modals/quater_details', locals: {year: @year, month: @month,quarter: @quarter,selected_columns: @selected_columns, annual_planification_report: @annual_planification_report,item_code:@item_code})%>");
$("#annual_quater_details_modals").modal("show");