= form_for @transaction, html: { class: "form-horizontal", role: "form" } do |f|
  -if @transaction.errors.any?
    .alert.alert-danger.alert-dismissable{role: "alert"}
      %button.close{type: "button", data: {dismiss: "alert"} }
        %span{aria: {hidden: "true"} } &times;
        %span.sr-only Close
      %h4= "#{pluralize(@transaction.errors.count, "error")} prohibido que esta transacción se guarde::"

      %ul
        - @transaction.errors.full_messages.each do |msg|
          %li= msg



  .form-group
    = f.label :amount, class: 'col-sm-2 control-label'
    .col-sm-10
      = f.text_field :amount, class: 'form-control'
  .form-group
    = f.label :enterprise_name, class: 'col-sm-2 control-label'
    .col-sm-10
      = f.text_field :enterprise_name, class: 'form-control'
  .form-group
    = f.label :enterprise_code, class: 'col-sm-2 control-label'
    .col-sm-10
      = f.text_field :enterprise_code, class: 'form-control'
  .form-group
    = f.label :source, class: 'col-sm-2 control-label'
    .col-sm-10.select_form
      = f.select :source, options_for_select(["Filial","Banco"],[@transaction.source])
  .form-group
    = f.label :cost_center_id, class: 'col-sm-2 control-label'
    .col-sm-10.select_form
      -cc = @transaction.cost_center
      = f.select :cost_center_id, options_for_select(CostCenter.all.map {|u| [u.name, u.id]},[cc.present? ? cc.name : nil,cc.present? ? cc.id : nil]), :include_blank => false
  .form-group
    = f.label "Cuenta", class: 'col-sm-2 control-label'
    .col-sm-10.select_form
      -account = @transaction.account
      = f.select :account_id, options_for_select(Account.all.map {|u| [u.description, u.id]},[account.present? ? account.description : nil,account.present? ? account.id : nil]), :include_blank => false
  .form-group
    = f.label :expired_date, class: 'col-sm-2 control-label'
    .col-sm-10
      = f.text_field :expired_date, class: 'form-control'
  .form-group
    .col-sm-offset-2.col-sm-10
      = f.submit class: 'btn btn-primary', :value => "Actualizar gastos"
