
.table-responsive
  %table.table.table-striped.table-bordered.table-hover#transactions-table{ "data-source" => "#{source_transactions_path(format: :json)}"}
    %thead
      %tr
        %th
          Cuenta
        %th
          Item
        %th
          Centro de Costo
        %th
          Monto
        %th
          Fuente
        %th
          Fecha de Contabilización
        %th
          Fecha de Documento
        %th
          Glosa
        %th
          Codigo de empresa
        %th
          Nombre de empresa
        %th
    %tbody