.page-header
  = link_to transactions_path, class: 'btn btn-default' do
    %span.glyphicon.glyphicon-list-alt
    Atrás
  = link_to @transaction, class: 'btn btn-primary' do
    %span.glyphicon.glyphicon-info-sign
    Mostrar transacción
  %h1 Editar transacción

= render 'form'
