.row
  .col-md-12
    %h1 Importar Gastos
    = form_tag import_transactions_path, multipart: true, class:'form-horizontal' do
      - unless @row_with_error.nil?
        = bootstrap_model_errors(@row_with_error, "Error en fila #{@row_with_error.row_number} del archivo excel:")

      .form-group
        %label.control-label.col-sm-2{:for => "file"} Archivo Excel:
        .col-sm-10
          = file_field_tag :file, class:'form-control'
      .form-group
        %label.control-label.col-sm-2{:for => "source"} Fuente
        .col-sm-10
          = radio_button_tag :source,'bank'
          Banco
          = radio_button_tag :source,'filial'
          Filial


      .form-group
        .col-sm-offset-2.col-sm-10
          = link_to 'Descargar excel ejemplo banco',bank_excel_example_transactions_path(format: "xlsx"), class: 'btn btn-default'
          = link_to 'Descargar excel ejemplo filial',filial_excel_example_transactions_path(format: "xlsx"), class: 'btn btn-default'
      .form-group
        .col-sm-offset-2.col-sm-10
          = submit_tag "Subir archivo", class:'btn btn-danger'

.page-header
  = link_to new_transaction_path, class: 'btn btn-primary' do
    %span.glyphicon.glyphicon-plus
    = "#{@actions_t[:new]} #{@transaction_t[:one]}"
  %h1
    = "#{@transaction_t[:other]}"

= render partial:"transactions_table"