$('#container-transactions-table').empty();
$('#container-transactions-table').html('<%= escape_javascript(render "transactions/partials/transactions_table",locals: {transactions: @transactions}) %>');

$('#counter').empty();
$('#counter').html('<%= escape_javascript(paginate @transactions, :remote => true %>');
