.page-header
  = link_to transactions_path, class: 'btn btn-default' do
    %span.glyphicon.glyphicon-list-alt
    atrás
  = link_to edit_transaction_path(@transaction), class: 'btn btn-primary' do
    %span.glyphicon.glyphicon-pencil
    Editar
  %h1="Transacción #{@transaction.account.name}"

%dl.dl-horizontal

  %dt Nombre Item:
  %dd= @transaction.account.item.description if @transaction.account.item.present?
  %dt Codigo Item:
  %dd= @transaction.account.item.code if @transaction.account.item.present?
  %dt Nombre Centro de costo:
  %dd= @transaction.cost_center.name if @transaction.cost_center.present?
  %dt Monto transacción:
  %dd= currency_format(@transaction.amount)
  %dt Fuente:
  %dd= @transaction.source
  %dt Cuenta:
  %dd= @transaction.account.present? ? @transaction.account.description : ""
  %dt Centro de costos:
  %dd= @transaction.cost_center.present? ? @transaction.cost_center.name : ""
