.table-responsive
  %table.table.table-striped.table-bordered.table-hover#accounts-table{ "data-source" => "#{source_adjustments_path(format: :json)}"}
    %thead
      %tr
        %th Concepto
        %th Tipo
        %th Monto
        %th Fecha
        %th Ítem
        %th Acciones
        %th Cuenta
    %tbody