= form_for @adjustment, html: { class: "form-horizontal", role: "form" } do |f|
  -if @adjustment.errors.any?
    .alert.alert-danger.alert-dismissable{role: "alert"}
      %button.close{type: "button", data: {dismiss: "alert"} }
        %span{aria: {hidden: "true"} } &times;
        %span.sr-only Close
      %h4= "#{pluralize(@adjustment.errors.count, "error")} prohibido que este ajuste se guarde:"

      %ul
        - @adjustment.errors.full_messages.each do |msg|
          %li= msg

  .form-group
    = f.label :item, class: 'col-sm-2 control-label'
    .col-sm-10
      = f.text_field :item, class: 'form-control'
  .form-group
    = f.label :account, class: 'col-sm-2 control-label'
    .col-sm-10
      = f.text_field :account, class: 'form-control'
  .form-group
    = f.label :amount, class: 'col-sm-2 control-label'
    .col-sm-10
      = f.text_field :amount, class: 'form-control'
  .form-group
    = f.label :adjustment_type, class: 'col-sm-2 control-label'
    .col-sm-10
      = f.text_field :adjustment_type, class: 'form-control'
  .form-group
    = f.label :name, class: 'col-sm-2 control-label'
    .col-sm-10
      = f.text_field :name, class: 'form-control'
  .form-group
    = f.label :date, class: 'col-sm-2 control-label'
    .col-sm-10
      = f.text_field :date, class: 'form-control'
  .form-group
    .col-sm-offset-2.col-sm-10
      = f.submit class: 'btn btn-primary'
