.page-header
  = link_to adjustments_path, class: 'btn btn-default' do
    %span.glyphicon.glyphicon-list-alt
    Atrás

  = link_to @adjustment, class: 'btn btn-primary' do
    %span.glyphicon.glyphicon-info-sign
    Mostrar ajustes
  %h1 Editar ajustes

= render 'form'
