.row
  .col-md-12
    %h1 Importar Ajustes
    = form_tag import_adjustments_path, multipart: true, class:'form-horizontal' do
      - unless @row_with_error.nil?
        = bootstrap_model_errors(@row_with_error, "Error en fila #{@row_with_error.row_number} del archivo excel:")

      .form-group
        %label.control-label.col-sm-2{:for => "file"} Archivo Excel:
        .col-sm-10
          = file_field_tag :file, class:'form-control'


      .form-group
        .col-sm-offset-2.col-sm-10
          = link_to 'Descargar excel ejemplo ajustes',excel_example_adjustments_path(format: "xlsx"), class: 'btn btn-default'
      .form-group
        .col-sm-offset-2.col-sm-10
          = submit_tag "Subir archivo", class:'btn btn-danger'

.page-header
  = link_to new_adjustment_path, class: 'btn btn-primary' do
    %span.glyphicon.glyphicon-plus
    = "#{@actions_t[:new]} #{@adjustment_t[:one]}"
  %h1
    = "#{@adjustment_t[:other]}"

.table-responsive
  %table.table.table-striped.table-bordered.table-hover.table-initialization
    %thead
      %tr
        %th
          Concepto
        %th
          Tipo
        %th
          Monto
        %th
          Fecha
        %th
          Item
        %th
          Cuenta


    %tbody
      - @adjustments.each do |adjustment|
        %tr
          %td= link_to adjustment.name, adjustment
          %td= adjustment.adjustment_type
          %td= currency_format(adjustment.amount)
          %td= document_date_format(adjustment.date)
          %td= adjustment.item.description if adjustment.item.present?
          %td= adjustment.account.name if adjustment.account.present?
          %td=(link_to '<span class="glyphicon glyphicon-pencil"></span>'.html_safe, edit_adjustment_path(adjustment))+"  "+(link_to '<span class="glyphicon glyphicon-remove"></span>'.html_safe, adjustment, data: { confirm: '¿Estás seguro?' }, method: :delete)
