.page-header
  = link_to adjustments_path, class: 'btn btn-default' do
    %span.glyphicon.glyphicon-list-alt
    Atrás
  = link_to edit_adjustment_path(@adjustment), class: 'btn btn-primary' do
    %span.glyphicon.glyphicon-pencil
    Editar
  %h1="Transacción #{@adjustment.name}"

%dl.dl-horizontal

  %dt Nombre:
  %dd= @adjustment.name
  %dt Nombre Cuenta:
  %dd= @adjustment.account.present? ? @adjustment.account.name : ""
  %dt Nombre Item:
  %dd= @adjustment.item.present? ? @adjustment.item.description : ""
  %dt Monto transacción:
  %dd= currency_format(@adjustment.amount)
  %dt Tipo:
  %dd= @adjustment.adjustment_type
