-year_adjustment_result.each_with_index do |year_result,index|
  -# year results
  -current_year_adjustment_results = year_result['current_adjustment_results'].present? ? year_result['current_adjustment_results']:0
  -current_year_estimates_results = year_result['current_estimates_results'].present? ? year_result['current_estimates_results']:0
  -previous_year_adjustment_results = year_result['previous_adjustment_results'].present? ? year_result['previous_adjustment_results']:0
  -# month results
  -month_current_year_adjustment_results = month_adjustment_result[index]['current_adjustment_results'].present? ? month_adjustment_result[index]['current_adjustment_results']:0
  -month_current_year_estimate_results = month_adjustment_result[index]['current_estimates_results'].present? ? month_adjustment_result[index]['current_estimates_results']:0
  -previous_month_adjustment_results = month_adjustment_result[index]['previous_adjustment_results'].present? ? month_adjustment_result[index]['previous_adjustment_results']:0
  -# past month result
  -past_month_adjustment_result = month_adjustment_result[index]['current_adjustment_results'].present? ? month_adjustment_result[index]['current_adjustment_results']:0
  -past_month_estimate_result = month_adjustment_result[index]['current_estimates_results'].present? ? month_adjustment_result[index]['current_estimates_results']:0
  -if year_result['adjustment_type'] == ('Indirecto' || 'indirecto')
    %tr
      //Yearly Information
      %td= year_result['concept']
      %td= currency_format(current_year_adjustment_results)
      %td= currency_format(current_year_estimates_results)
      %td= currency_format(previous_year_adjustment_results)
      %td= difference_format(current_year_adjustment_results,previous_year_adjustment_results)
      %td= percentage(current_year_adjustment_results,current_year_estimates_results)
      %td= difference_format(current_year_adjustment_results,previous_year_adjustment_results)
      %td= percentage(current_year_adjustment_results-previous_year_adjustment_results,previous_year_adjustment_results)
      -# //Monthly Information
      %td= currency_format(month_current_year_adjustment_results)
      %td= currency_format(month_current_year_estimate_results)
      %td= currency_format(previous_month_adjustment_results)
      %td= difference_format(month_current_year_estimate_results,month_current_year_adjustment_results)
      %td= percentage(month_current_year_adjustment_results,month_current_year_estimate_results)
      %td= difference_format(month_current_year_adjustment_results,previous_month_adjustment_results)
      %td= percentage((month_current_year_adjustment_results- previous_month_adjustment_results) ,previous_month_adjustment_results)
      -# //Previous Month Information
      %td= currency_format(past_month_adjustment_result)
      %td= difference_format(month_current_year_adjustment_results,past_month_adjustment_result)
      %td= percentage(month_current_year_adjustment_results-past_month_adjustment_result,past_month_adjustment_result)
  -else
    .table-responsive
      %table.table.table-striped.table-bordered.table-hover
        %thead
          %tr
            %th.text-center{rowspan:1}
              Directos
            %th.danger.text-center
              Gasto Año Actual
            %th.success.text-center
              Presupuesto Año Actual
            %th.danger.text-center
              Gasto Año Anterior
            %th.text-center
              Diferencia
            %th.text-center
              Cump Pptt %
            %th.text-center
              Variación Año Anterior ($)
            %th.text-center
              Variación Año Anterior (%)
            %th.danger.text-center
              Gasto Mes Actual
            %th.success.text-center
              Presupuesto Mes Actual
            %th.danger.text-center
              Gasto Mes Año Anterior
            %th.text-center
              Diferencia
            %th.text-center
              Cump Pptt %
            %th.text-center
              Variación Año Anterior ($)
            %th.text-center
              Variación Año Anterior (%)
            %th.text-center
              Gasto
            %th.text-center
              Variación($)
            %th.text-center
              Variación(%)

        %tbody
          %tr
            //Yearly Information
            %td= year_result['concept']
            %td= currency_format(current_year_adjustment_results)
            %td= currency_format(current_year_estimates_results)
            %td= currency_format(previous_year_adjustment_results)
            %td= difference_format(current_year_adjustment_results,previous_year_adjustment_results)
            %td= percentage(current_year_adjustment_results,current_year_estimates_results)
            %td= difference_format(current_year_adjustment_results,previous_year_adjustment_results)
            %td= percentage(current_year_adjustment_results-previous_year_adjustment_results,previous_year_adjustment_results)
            -# //Monthly Information
            %td= currency_format(month_current_year_adjustment_results)
            %td= currency_format(month_current_year_estimate_results)
            %td= currency_format(previous_month_adjustment_results)
            %td= difference_format(month_current_year_estimate_results,month_current_year_adjustment_results)
            %td= percentage(month_current_year_adjustment_results,month_current_year_estimate_results)
            %td= difference_format(month_current_year_adjustment_results,previous_month_adjustment_results)
            %td= percentage((month_current_year_adjustment_results- previous_month_adjustment_results) ,previous_month_adjustment_results)
            -# //Previous Month Information
            %td= currency_format(past_month_adjustment_result)
            %td= difference_format(month_current_year_adjustment_results,past_month_adjustment_result)
            %td= percentage(month_current_year_adjustment_results-past_month_adjustment_result,past_month_adjustment_result)
