.col-md-2
  .card.card-stats
    .card-content{"data-background-color"=> "blue"}
      %p.category.text-center
        %i.fa{:class => icon_option}
        = title
      %h4.title.text-center
        = value
