.table-responsive
  %table.table.table-striped.table-bordered.table-hover
    %thead
      %tr
        %th.text-center{colspan:3}
          = "#{@year}"
        %th.warning.text-center{colspan:4}
          = "Enero"
        %th.info.text-center{colspan:4}
          = "Febrero"
        %th.warning.text-center{colspan:4}
          = "Marzo"
        %th.info.text-center{colspan:4}
          = "Abril"
        %th.warning.text-center{colspan:4}
          = "Mayo"
        %th.info.text-center{colspan:4}
          = "Junio"
        %th.warning.text-center{colspan:4}
          = "Julio"
        %th.info.text-center{colspan:4}
          = "Agosto"
        %th.warning.text-center{colspan:4}
          = "Septiembre"
        %th.info.text-center{colspan:4}
          = "Octubre"
        %th.warning.text-center{colspan:4}
          = "Noviembre"
        %th.info.text-center{colspan:4}
          = "Diciembre"
      %tr
        %th.danger.text-center
          Codigo Item
        %th.success.text-center
          Nombre Item
        %th.info.text-center
          Estadísticas anual
        - (1..12).each do |i|

          %th.success.text-center
            Presupuesto
          %th.danger.text-center
            Gasto
          %th.text-center
            Diferencia
          %th.info.text-center
            Estadística mensual
    %tbody
      - if consultation_report_detail['current_year_results'].present?
        -previous_year_results = consultation_report_detail['previous_year_results']
        -previous2_year_results = consultation_report_detail['previous2_year_results']
        - consultation_report_detail['current_year_results'].each_with_index do |report_detail,index|

          %tr
            #year_table_info
              //Yearly Information
              %td= report_detail['code'].present? ? report_detail['code'] : ""
              %td= report_detail['name'].present? ? report_detail['name'] : ""
              %td.text-center= link_to '<span class="glyphicon glyphicon-stats">Anual</span>'.html_safe, "#","data-toggle" => "modal", id: "#{index}",class: "year_modal"
              -#Month reports
              = render :partial => 'month_table', :locals => {:month => 1,:report_detail=>report_detail,:previous_year_results=>previous_year_results,:previous2_year_results => previous2_year_results, :index => index}
              = render :partial => 'month_table', :locals => {:month => 2,:report_detail=>report_detail,:previous_year_results=>previous_year_results,:previous2_year_results => previous2_year_results, :index => index}
              = render :partial => 'month_table', :locals => {:month => 3,:report_detail=>report_detail,:previous_year_results=>previous_year_results,:previous2_year_results => previous2_year_results, :index => index}
              = render :partial => 'month_table', :locals => {:month => 4,:report_detail=>report_detail,:previous_year_results=>previous_year_results,:previous2_year_results => previous2_year_results, :index => index}
              = render :partial => 'month_table', :locals => {:month => 5,:report_detail=>report_detail,:previous_year_results=>previous_year_results,:previous2_year_results => previous2_year_results, :index => index}
              = render :partial => 'month_table', :locals => {:month => 6,:report_detail=>report_detail,:previous_year_results=>previous_year_results,:previous2_year_results => previous2_year_results, :index => index}
              = render :partial => 'month_table', :locals => {:month => 7,:report_detail=>report_detail,:previous_year_results=>previous_year_results,:previous2_year_results => previous2_year_results, :index => index}
              = render :partial => 'month_table', :locals => {:month => 8,:report_detail=>report_detail,:previous_year_results=>previous_year_results,:previous2_year_results => previous2_year_results, :index => index}
              = render :partial => 'month_table', :locals => {:month => 9,:report_detail=>report_detail,:previous_year_results=>previous_year_results,:previous2_year_results => previous2_year_results, :index => index}
              = render :partial => 'month_table', :locals => {:month => 10,:report_detail=>report_detail,:previous_year_results=>previous_year_results,:previous2_year_results => previous2_year_results, :index => index}
              = render :partial => 'month_table', :locals => {:month => 11,:report_detail=>report_detail,:previous_year_results=>previous_year_results,:previous2_year_results => previous2_year_results, :index => index}
              = render :partial => 'month_table', :locals => {:month => 12,:report_detail=>report_detail,:previous_year_results=>previous_year_results,:previous2_year_results => previous2_year_results, :index => index}

              .modal.fade{:role => "dialog",:id =>"modal"}
                .modal-dialog
                  .modal-content
                    -# #modal_header.modal-header.text-center
                    #modal_body.modal-body
                    .modal-footer
                      %a.col-md-2.col-md-offset-10.btn.btn-default{"data-dismiss" => "modal"} Cerrar
