
.table-responsive
  %table.table.table-striped.table-bordered.table-hover
    %thead
      %tr
        %th.text-center{rowspan:2}
          Concepto
        %th.info.text-center{colspan:7}
          = "Acumulado hasta #{@alpha_month} - #{@year}"
        %th.warning.text-center{colspan:7}
          = "Estanco #{@alpha_month} - #{@year}"
        %th.success.text-center{colspan:7}
          = "Mes Anterior"
      %tr
        %th.danger.text-center
          Gasto Año Actual
        %th.success.text-center
          Presupuesto Año Actual
        %th.danger.text-center
          Gasto Año Anterior
        %th.text-center
          Diferencia
        %th.text-center
          Cump Pptt %
        %th.text-center
          Variación Año Anterior ($)
        %th.text-center
          Variación Año Anterior (%)
        %th.danger.text-center
          Gasto Mes Actual
        %th.success.text-center
          Presupuesto Mes Actual
        %th.danger.text-center
          Gasto Mes Año Anterior
        %th.text-center
          Diferencia
        %th.text-center
          Cump Pptt %
        %th.text-center
          Variación Año Anterior ($)
        %th.text-center
          Variación Año Anterior (%)
        %th.text-center
          Gasto
        %th.text-center
          Variación($)
        %th.text-center
          Variación(%)
    %tbody
      - current_year = control_report_detail.current_year_result
      - previous_year = control_report_detail.previous_year_result

      - month_current_year = control_report_detail.month_current_year
      - month_last_year = control_report_detail.month_last_year

      - previous_month = control_report_detail.previous_month

      - current_year.each_with_index do |current_year,index|

        - previous_year_detail = previous_year[index]
        - month_data_current_year = month_current_year[index]
        - month_data_last_year = month_last_year[index]
        - previous_data_month = previous_month[index]

        -year_planification = 0
        -month_current_year_transaction_results = 0
        -if total_planification.present?
          -year_planification = (total_planification[index].present?) ? total_planification[index].value : 0
        - current_year_transaction_result = current_year['transaction_result'].present? ? current_year['transaction_result']+year_planification : year_planification
        - current_year_transaction_result = month_data_current_year['transaction_result'].present? ? current_year_transaction_result-month_data_current_year['transaction_result'] : current_year_transaction_result

        - current_year_budget_result =  current_year['budget'].present? ? current_year['budget'] : 0
        - previous_year_transaction_results =  previous_year_detail['transaction_result'].present? ? previous_year_detail['transaction_result'] : 0
        -if total_planification.present?
          - month_current_year_transaction_results =  year_planification
        -else
          - month_current_year_transaction_results =  month_data_current_year['transaction_result'].present? ? month_data_current_year['transaction_result'] : 0
        - month_current_year_budget_results = month_data_current_year['budget'].present? ? month_data_current_year['budget'] : 0
        - month_last_year_transaction_results =  month_data_last_year['transaction_result'].present? ? month_data_last_year['transaction_result'] : 0
        - previous_month_transaction_results = previous_data_month['transaction_result'].present? ? previous_data_month['transaction_result'] : 0
        %tr
          //Yearly Information
          %td= current_year['concept']
          %td= currency_format(current_year_transaction_result)
          %td= currency_format(current_year_budget_result)
          %td= currency_format(previous_year_transaction_results)
          %td= difference_format(current_year_budget_result,current_year_transaction_result)
          %td= percentage(current_year_transaction_result,current_year_budget_result)
          %td= difference_format(current_year_transaction_result,previous_year_transaction_results)
          %td= percentage(current_year_transaction_result - previous_year_transaction_results,previous_year_transaction_results)
          //Monthly Information
          %td= currency_format(month_current_year_transaction_results)
          %td= currency_format(month_current_year_budget_results)
          %td= currency_format(month_last_year_transaction_results)
          %td= difference_format(month_current_year_budget_results,month_current_year_transaction_results)
          %td= percentage(month_current_year_transaction_results,month_current_year_budget_results)
          %td= difference_format(month_current_year_transaction_results,month_last_year_transaction_results)
          %td= percentage((month_current_year_transaction_results - month_last_year_transaction_results) ,month_last_year_transaction_results)
          //Previous Month Information
          %td= currency_format(previous_month_transaction_results)
          %td= difference_format(month_current_year_transaction_results,previous_month_transaction_results)
          %td= percentage(month_current_year_transaction_results-previous_month_transaction_results,previous_month_transaction_results)
      =render partial: 'reports/adjustment_resume', locals: {year_adjustment_result: control_report_detail.year_adjustment_result,
        month_adjustment_result: control_report_detail.month_adjustment_result,past_month_adjustment_result: control_report_detail.previous_month_adjustment_result}
