.page-header
  %h1
    Detalle de Reporte Control
.table-responsive
  %table.table.table-striped.table-bordered.table-hover
    %thead
      %tr
        %th.text-center{rowspan:2}
          Año
        %th.text-center{rowspan:2}
          Concepto
        %th.danger.text-center{colspan:12}
          Gasto
        %th.success.text-center{colspan:12}
          Presupuesto
      %tr
        %th.text-center
          Enero
        %th.text-center
          Febrero
        %th.text-center
          Marzo
        %th.text-center
          Abril
        %th.text-center
          Mayo
        %th.text-center
          Junio
        %th.text-center
          Julio
        %th.text-center
          Agosto
        %th.text-center
          Septiembre
        %th.text-center
          Octubre
        %th.text-center
          Noviembre
        %th.text-center
          Diciembre
        %th.text-center
          Enero
        %th.text-center
          Febrero
        %th.text-center
          Marzo
        %th.text-center
          Abril
        %th.text-center
          Mayo
        %th.text-center
          Junio
        %th.text-center
          Julio
        %th.text-center
          Agosto
        %th.text-center
          Septiembre
        %th.text-center
          Octubre
        %th.text-center
          Noviembre
        %th.text-center
          Diciembre
    %tbody
      - detail_data.each_with_index do |detail,index|
        %tr
          %td
            =detail['year'].to_i
          %td
            = detail['concept']
          -(1..12).each do |month|
            %td
              = currency_format(detail["#{get_month(month,true)}_transaction"].to_i)


          -(1..12).each do |month|
            %td
              = currency_format(detail["#{get_month(month,true)}_budget"].to_i)
