.col-md-3
  .card.card-stats
    .card-header{"data-background-color"=> "orange", "data-toggle" => "tooltip", :title => tooltip_content}
      %i.fa{:class => icon_option}
    .card-content
      %p.category
        = category
      %h3.title
        =title
    .card-footer
      .stats
        %p= footer
:javascript
  $(document).ready(function(){
      $('[data-toggle="tooltip"]').tooltip();
  });
