-month_budget = report_detail["#{get_month(month,true)}_budget"]
-month_transaction = report_detail["#{get_month(month,true)}_transaction"]
-current_year_result = report_detail
#month_table_info
  %td= currency_format(month_budget.present? ? month_budget : 0)
  %td= currency_format(month_transaction.present? ? month_transaction : 0)
  %td= difference_format((month_budget.present? ? month_budget : 0),(month_transaction.present? ? month_transaction : 0))
  %td.text-center= link_to '<span class="glyphicon glyphicon-stats">Mensual</span>'.html_safe, "#{month}","data-toggle" => "modal",id: "#{index}",class: "month_modal"
