-item_index = item_index.to_i
-month = month.to_i
-report_detail = consultation_report_detail['current_year_results'][item_index]
-current_year_result = report_detail
-previous_year_results = consultation_report_detail['previous_year_results']
-before_previous_year_results = consultation_report_detail['previous2_year_results']
-month_budget = report_detail["#{get_month(month,true)}_budget"]
-month_label = get_month(month,false)
-month_transaction = report_detail["#{get_month(month,true)}_transaction"]
-item = get_item_info(report_detail['code'])
.row
  .panel.panel-info
    .panel-heading
      %h3.modal-panel-title
        Detalles del Item
    .panel-body.panel-danger
      .row
        =render :partial => 'card_details', :locals => {:value=> report_detail['year'],:title=>'Año',:icon_option=>'fa-calendar'}
        =render :partial => 'card_details', :locals => {:value=>month_label ,:title=>'Mes',:icon_option=>'fa-calendar'}
        =render :partial => 'card_details', :locals => {:value=> report_detail['code'],:title=>'Identificador',:icon_option=>'fa-barcode'}
        =render :partial => 'card_details', :locals => {:value=> report_detail['name'],:title=>'Nombre Item',:icon_option=>''}
        -if item.interpretation_ccc.present?
          =render :partial => 'card_details', :locals => {:value=> item.interpretation_ccc.name,:title=>'Interpr. CCC',:icon_option=>''}
        -if item.interpretation_cargabal.present?
          =render :partial => 'card_details', :locals => {:value=> item.interpretation_cargabal.name,:title=>'Interpr. Cargabal',:icon_option=>''}
        -if item.interpretation_ge.present?
          =render :partial => 'card_details', :locals => {:value=> item.interpretation_ge.name,:title=>'Interpr. GES',:icon_option=>''}
        -if item.subfield.present?
          =render :partial => 'card_details', :locals => {:value=> item.subfield.name,:title=>'Subrubro',:icon_option=>''}
        -if item.format_bank.present?
          =render :partial => 'card_details', :locals => {:value=> item.format_bank.name,:title=>'Formato Banco',:icon_option=>''}
        -if item.format_group.present?
          =render :partial => 'card_details', :locals => {:value=> item.format_group.name,:title=>'Formato Grupo',:icon_option=>''}
        -if item.format_spain.present?
          =render :partial => 'card_details', :locals => {:value=> item.format_spain.name,:title=>'Formato España',:icon_option=>''}

-acomulate_budget,acomulate_transaction = comulative_budget_transaction(current_year_result,month)
-acomulate_previous_budget,acomulate_previous_transaction = comulative_budget_transaction(previous_year_results[item_index],month)
-current_month_transaction = get_month(month,true)+"_transaction"
-current_month_budget = get_month(month,true)+"_budget"
-year_transaction = current_year_result['year_transaction'].present? ? current_year_result['year_transaction']:0
-year_budget =current_year_result['year_budget'].present? ? current_year_result['year_budget']:0
-previous_year_budget = previous_year_results[item_index]['year_budget'].present? ? previous_year_results[item_index]['year_budget']:0
.row
  .panel.panel-warning
    .panel-heading.panel-primary
      %h3.modal-panel-title
        Indicadores mensuales
    .panel-body
      =render :partial => 'kpi_details',
      :locals => {:category =>'Crecimiento presupuesto',
      :title =>"#{percentage_increase(current_year_result[current_month_budget],previous_year_results[item_index][current_month_budget])}",
      :icon_option =>"#{(current_year_result[current_month_budget]-previous_year_results[item_index][current_month_budget])>0 ? 'fa-line-chart' : 'fa-arrow-down'}",
      :footer => 'Mes respecto al año pasado',
      :tooltip_content => "Diferencia en % entre el presupuesto del año pasado y el año actual en #{month_label} "}

      - difference_year_past = (current_year_result[current_month_transaction].present? ? current_year_result[current_month_transaction]:0) - (previous_year_results[item_index][current_month_transaction].present? ? previous_year_results[item_index][current_month_transaction]:0)

      =render :partial => 'kpi_details',
      :locals => {:category =>'Crecimiento gasto',
      :title =>"#{percentage_increase(current_year_result[current_month_transaction],previous_year_results[item_index][current_month_transaction])}",
      :icon_option =>"#{(difference_year_past)>0 ? 'fa-line-chart': 'fa-arrow-down'}",
      :footer => 'Mes respecto al año pasado',
      :tooltip_content => "Diferencia en % entre el gasto del año pasado y el año actual en #{month_label}"}

      =render :partial => 'kpi_details',
      :locals => {:category =>'% Promedio de gasto',
      :title =>"#{report_detail['transaction_average'].to_i}",
      :icon_option =>'fa-money',
      :footer => 'Año actual',
      :tooltip_content => "Promedio de gasto en el año actual"}

      =render :partial => 'kpi_details',
      :locals => {:category =>'Gastos acomulados',
      :title =>"#{acomulate_transaction.to_i}",
      :icon_option =>'fa-money',
      :footer => 'Año actual',
      :tooltip_content => "Gastos acomulados hasta el mes #{month_label}"}
    .row.col-md-offset-2
      =render :partial => 'kpi_details',
      :locals => {:category =>'Presupuesto acomulado',
      :title =>"#{acomulate_budget.to_i}",
      :icon_option =>'fa-money',
      :footer => 'Año actual',
      :tooltip_content => "Presupuesto acomulado hasta el mes #{month_label}"}

      =render :partial => 'kpi_details',
      :locals => {:category =>'Presupuesto restante',
      :title =>"#{(year_budget-acomulate_transaction).to_i}",
      :icon_option =>'fa-money',
      :footer => 'Año actual',
      :tooltip_content => "Presupuesto restante para los meses restantes del año"}

      =render :partial => 'kpi_details',
      :locals => {:category =>'Presupuesto restante',
      :title =>"#{(previous_year_budget-acomulate_previous_transaction).to_i}",
      :icon_option =>'fa-money',
      :footer => 'Año anterior',
      :tooltip_content => "Presupuesto restante para los meses restantes del año anterior"}

.row
  .panel.panel-danger
    .panel-heading.panel-default
      %h3.modal-panel-title
        Detalles mensuales
    .panel-body
      .row
        .col-md-4
          .card.card-stats
            .card-content
              =line_chart year_report_stats(before_previous_year_results,previous_year_results,current_year_result,month,item_index),
              {scales:{yAxes: [{ticks: {beginAtZero:true}}]}, elements: {line: {tension:0}}, title: {display: true,text: "Comparación mes #{month_label} con años anteriores"}}
        .col-md-4
          .card.card-stats
            .card-content
              =line_chart month_report_stats(current_year_result,month),
              {scales:{yAxes: [{ticks: {beginAtZero:true}}]},elements: {line: {tension:0}}, title: {display: true,text: 'Presupuesto VS Gasto mes anterior y posterior'}}
        .col-md-4
          .card.card-stats
            .card-content
              =line_chart to_month_report_stats(current_year_result,month),
              {scales:{yAxes: [{ticks: {beginAtZero:true}}]},elements: {line: {tension:0}}, title: {display: true,text: "Presupuesto VS Gasto hasta #{month_label}"}}
      .row
        .col-md-4
          .card.card-stats
            .card-content
              =bar_chart to_month_difference_report_stats(current_year_result,month),
              {scales:{yAxes: [{ticks: {beginAtZero:true}}]},elements: {line: {tension:0}}, title: {display: true,text: 'Diferencia entre presupuesto y gastos mensuales'}}
        .col-md-4
          .card.card-stats
            .card-content
              =line_chart to_month_year_report_stats(before_previous_year_results,previous_year_results,current_year_result,month,item_index),
              {scales:{yAxes: [{ticks: {beginAtZero:true}}]},elements: {line: {tension:0}}, title: {display: true,text: "Comparación años anteriores hasta #{month_label}"}}
