-item_index = item_index.to_i
-report_detail = consultation_report_detail['current_year_results'][item_index]
-previous_year_results = consultation_report_detail['previous_year_results']
-previous2_year_results = consultation_report_detail['previous2_year_results']
-item = get_item_info(report_detail['code'])
.row
  .panel.panel-info
    .panel-heading
      %h4.modal-panel-title
        Detalles del Item
    .panel-body.panel-danger
      .row
        =render :partial => 'card_details', :locals => {:value=> report_detail['year'],:title=>'año',:icon_option=>'fa-calendar'}
        =render :partial => 'card_details', :locals => {:value=> report_detail['code'],:title=>'Identificador',:icon_option=>'fa-barcode'}
        =render :partial => 'card_details', :locals => {:value=> report_detail['name'],:title=>'Nombre Item',:icon_option=>''}
        -if item.interpretation_ccc.present?
          =render :partial => 'card_details', :locals => {:value=> item.interpretation_ccc.name,:title=>'Interpr. CCC',:icon_option=>''}
        -if item.interpretation_cargabal.present?
          =render :partial => 'card_details', :locals => {:value=> item.interpretation_cargabal.name,:title=>'Interpr. Cargabal',:icon_option=>''}
        -if item.interpretation_ge.present?
          =render :partial => 'card_details', :locals => {:value=> item.interpretation_ge.name,:title=>'Interpr. GES',:icon_option=>''}
        -if item.subfield.present?
          =render :partial => 'card_details', :locals => {:value=> item.subfield.name,:title=>'Subrubro',:icon_option=>''}
        -if item.format_bank.present?
          =render :partial => 'card_details', :locals => {:value=> item.format_bank.name,:title=>'Formato Banco',:icon_option=>''}
        -if item.format_group.present?
          =render :partial => 'card_details', :locals => {:value=> item.format_group.name,:title=>'Formato Grupo',:icon_option=>''}
        -if item.format_spain.present?
          =render :partial => 'card_details', :locals => {:value=> item.format_spain.name,:title=>'Formato España',:icon_option=>''}

.row
  .panel.panel-warning
    .panel-heading.panel-primary
      %h3.modal-panel-title
        Indicadores anuales
    .panel-body
      =render :partial => 'kpi_details',
      :locals => {:category =>'Crecimiento presupuesto',
      :title =>"#{percentage_increase(previous_year_results[item_index].present? ? previous_year_results[item_index]['year_budget']:0,report_detail['year_budget']).to_i}",
      :icon_option =>"#{((previous_year_results[item_index]['year_budget'].present? ? previous_year_results[item_index]['year_budget']:0) - (report_detail['year_budget'].present? ? report_detail['year_budget']:0))>0 ? 'fa-line-chart' : 'fa-arrow-down' }",
      :footer => 'Con respecto al año pasado',
      :tooltip_content => "Diferencia en % entre el presupuesto del año pasado y el actual"}

      =render :partial => 'kpi_details',
      :locals => {:category =>'Crecimiento gasto',
      :title =>"#{percentage_increase(previous_year_results[item_index].present? ? previous_year_results[item_index]['year_transaction']:0,report_detail['year_transaction']).to_i}",
      :icon_option => "#{((previous_year_results[item_index]['year_transaction'].present? ? previous_year_results[item_index]['year_transaction']:0) - (report_detail['year_transaction'].present? ? report_detail['year_transaction']:0)) >0 ? 'fa-line-chart' : 'fa-arrow-down'}",
      :footer => 'Con respecto al año pasado',
      :tooltip_content => "Diferencia en % entre el gasto del año pasado y el actual"}

      =render :partial => 'kpi_details',
      :locals => {:category =>'Gasto promedio',
      :title =>"$#{report_detail['transaction_average'].to_i}",
      :icon_option =>'fa-money',
      :footer => 'Año actual',
      :tooltip_content => "Gasto promedio del año actual"}

      =render :partial => 'kpi_details',
      :locals => {:category =>'Presupuesto gastado',
      :title =>"#{percentage(report_detail['year_transaction'],report_detail['year_budget']).to_i}",
      :icon_option =>'fa-money',
      :footer => 'Año actual',
      :tooltip_content => "Diferencia en % entre los gastos y el presupuesto del año actual"}

.row
  .panel.panel-danger
    .panel-heading.panel-default
      %h3.modal-panel-title
        Detalles anuales
    .panel-body
      .col-md-4
        =line_chart report_detail['anual_budget_transaction'],
        {scales:{yAxes: [{ticks: {beginAtZero:true}}]},elements: {line: {tension:0}}, title: {display: true,text: "Presupuesto VS Gasto año #{report_detail['year']} "}}
      .col-md-4
        =bar_chart report_detail['difference_budget_transaction'],
        {scales:{yAxes: [{ticks: {beginAtZero:true}}]},elements: {line: {tension:0}}, title: {display: true,text: "Diferencia presupuesto con gastos"}}
      .col-md-4
        =line_chart report_detail['difference_year_budget_transaction'],
        {scales:{yAxes: [{ticks: {beginAtZero:true}}]},elements: {line: {tension:0}}, title: {display: true,text: "Comparaciones mensuales años anteriores"}}
