.row
  %h1.col-md-offset-1 Periodo de Análisis
  = form_tag reports_consultation_path, method: :get, class:'form-horizontal',remote: true do
    .form-group
      %h4.control-label.col-md-1{:for => "year_report"} Año:
      .col-md-2
        = select_tag 'year_consultation_report', options_for_select(Report.years_availables,DateTime.now.year)
      .col-md-4
        = submit_tag "Generar Reporte", class:'btn btn-info', id: 'consultation_commit'

.row
  %h1.col-md-offset-1
    Filtros Item
.row
  .form-group.col-md-4
    %label.control-label.col-sm-6{:for => "categorySpainSelect"} Categoria España:
    .col-md-2
      = select_tag 'Categoria España', options_for_select(FormatSpain.names_availables),class: "consultation_select", id:"#{get_report_type('format_spain')}",:include_blank=>true
  .form-group.col-md-4
    %label.control-label.col-sm-6{:for => "categoryBankSelect"} Categoria Banca:
    .col-md-2
      = select_tag 'Categoria Banca', options_for_select(FormatBank.names_availables),class: "consultation_select", id:"#{get_report_type('format_bank')}",:include_blank=>true
  .form-group.col-md-4
    %label.control-label.col-sm-6{:for => "categoryGroupSelect"} Categoria Grupo:
    .col-md-2
      = select_tag 'Categoria Grupo', options_for_select(FormatGroup.names_availables),class: "consultation_select", id:"#{get_report_type('format_group')}",:include_blank=>true
.row
  .form-group.col-sm-4
    %label.control-label.col-sm-6{:for => "categoryCargabalSelect"} Categoria Cargabal:
    .col-md-2
      = select_tag 'Categoria Cargabal', options_for_select(InterpretationCargabal.names_availables),class: "consultation_select", id:"#{get_report_type('format_cargabal')}",:include_blank=>true
  .form-group.col-sm-4
    %label.control-label.col-sm-6{:for => "categoryCccSelect"} Categoria CCC:
    .col-md-2
      = select_tag 'Categoria CCC', options_for_select(InterpretationCcc.names_availables), class: "consultation_select",id:"#{get_report_type('format_ccc')}",:include_blank=>true
  .form-group.col-sm-4
    %label.control-label.col-sm-6{:for => "categoryGeSelect"} Categoria GES:
    .col-md-2
      = select_tag 'Categoria GES', options_for_select(InterpretationGe.names_availables), class: "consultation_select",id:"#{get_report_type('local_gp')}",:include_blank=>true
.row
  .form-group.col-sm-4
    %label.control-label.col-sm-6{:for => "categorySubfieldSelect"} Categoria Subcampo:
    .col-md-2
      = select_tag 'Categoria Subcampo', options_for_select(Subfield.names_availables), class: "consultation_select",id:"#{get_report_type('format_subfield')}",:include_blank=>true
.row
  %h1.col-md-offset-1
    Filtros Centro de costos
.row
  .form-group.col-md-4
    %label.control-label.col-sm-6{:for => "categoryDivisionSelect"} División:
    .col-md-2
      = select_tag 'División', options_for_select(CostCenter.division_availables),class: "consultation_select", id:"#{get_report_type('division')}",:include_blank=>true
  .form-group.col-md-4
    %label.control-label.col-sm-6{:for => "categoryManagementSelect"} Gerencia:
    .col-md-2
      = select_tag 'Gerencia', options_for_select(CostCenter.management_availables),class: "consultation_select", id:"#{get_report_type('management')}",:include_blank=>true
  .form-group.col-md-4
    %label.control-label.col-sm-6{:for => "categoryAreaSelect"} Área:
    .col-md-2
      = select_tag 'Área', options_for_select(CostCenter.area_availables),class: "consultation_select", id:"#{get_report_type('area')}",:include_blank=>true
  .form-group.col-md-4
    %label.control-label.col-sm-6{:for => "categorySubareaSelect"} Subárea:
    .col-md-2
      = select_tag 'Subárea', options_for_select(CostCenter.subarea_availables),class: "consultation_select", id:"#{get_report_type('subarea')}",:include_blank=>true
%h1.page-header.col-md-offset-1
  Reporte de Consulta


#resume-consultation-report
  =render partial: 'consultation_resume', locals: {year: @year, consultation_report_detail: @consultation_report_detail}
