.row
  .col-md-6
    %h1 Periodo de Análisis
    = form_tag reports_control_path, method: :get, class:'form-horizontal',remote: true do
      .form-group
        %label.control-label.col-sm-2{:for => "year_report"} Año:
        .col-sm-10
          = select_tag 'year_report', options_for_select(Report.years_availables,DateTime.now.year)
      .form-group
        %label.control-label.col-sm-2{:for => "month"} Mes:
        .col-sm-10
          = select_tag 'month_report', options_for_select(options_months,DateTime.now.month)

      .form-group
        .col-sm-offset-2.col-sm-10
          = submit_tag "Total", class:'btn btn-info'
  .col-md-6
    %h1
      Filtros
    %br
    %br
    .btn-group{:role => "group"}
      = link_to 'Categoria España', '#',class:'btn btn-info', id:'format_spain',data: {'report-type' => get_report_type('format_spain')}
      = link_to 'Categoria Local GP', '#',class:'btn btn-info',data: {'report-type' => get_report_type('local_gp')}
      = link_to 'Categoria CCC', '#',class:'btn btn-info',data: {'report-type' => get_report_type('format_ccc')}

.page-header
  %h1
    Reporte de Control

#resume-control-report
  =render partial: 'control_resume', locals: {alpha_month: @alpha_month, year: @year, control_report_detail: @control_report_detail,total_planification:@total_planification}
