$("#resume-control-report").html('<%= escape_javascript(render partial: 'control_resume', locals: {alpha_month: @alpha_month, year: @year, control_report_detail: @control_report_detail,total_month_planification:@total_month_planification,total_planification:nil}) %>');
