.row.col-md-5
  .col-md-12
    %h1 Periodo de Análisis
    = form_tag reports_detailed_control_path, method: :get, class:'form-horizontal',remote: true do
      .form-group
        %label.control-label.col-md-4{:for => "start_year"} Año Inicio:
        .col-md-2
          = select_tag 'start_year', options_for_select(Report.years_availables,DateTime.now.year)
      .form-group
        %label.control-label.col-md-4{:for => "end_year"} Año Termino:
        .col-md-2
          = select_tag 'end_year', options_for_select(Report.years_availables,DateTime.now.year)

      .form-group
        .col-md-10
          = submit_tag "Generar Reporte", class:'btn btn-info'
.row.col-md-7
  .col-md-12
    %h1
      Filtros
  .col-md-12
    %label
  .col-md-12
    .btn-group{:role => "group"}
      = link_to 'Detalle Categoria España', '#',class:'btn btn-success',data: {'detailed-report-type' => get_report_type('format_spain')}
    .btn-group{:role => "group"}
      = link_to 'Detalle Categoria Local GP', '#',class:'btn btn-success',data: {'detailed-report-type' => get_report_type('local_gp')}
    .btn-group{:role => "group"}
      = link_to 'Detalle Categoria CCC', '#',class:'btn btn-success',data: {'detailed-report-type' => get_report_type('format_ccc')}

.row
  .col-md-12
    #detail-control-report
      =render partial: 'detail', locals: {start_year:@start_year,end_year: @end_year, detail_data: @detailed_control_data}
