$("#modal_body").html('<%=escape_javascript(render partial: 'month_modal',locals: {year: @year, consultation_report_detail: @consultation_report_detail, item_index: @item_index, month: @item_month}) %>');
$("#modal_header").html('<h1 class = title><%=escape_javascript("Detalle #{@consultation_report_detail['current_year_results'][@item_index.to_i]['name']} #{get_month(@item_month.to_i,false)} #{@year} ") %></h1>');
$("#modal").modal('show');
