$("#modal_body").html('<%=escape_javascript(render partial: 'year_modal',locals: {year: @year, consultation_report_detail: @consultation_report_detail, item_index: @item_index}) %>');
// $("#modal_header").html('<h1 class = title><%=escape_javascript("Detalle #{@consultation_report_detail['current_year_results'][@item_index.to_i]['name']} año #{@year} ") %></h1>');
$("#modal").modal('show');
