!!!
%html
  %head
    %meta{charset: "utf-8"}
    %meta{content: "IE=edge,Chrome=1", "http-equiv" => "X-UA-Compatible"}
    %meta{:content => "IE=11; IE=10; IE=9; IE=8; IE=7; IE=EDGE", "http-equiv" => "X-UA-Compatible"}/
    %title Budget Manager
    %meta{content: "width=device-width, initial-scale=1", name: "viewport"}
    %meta{content: "Gestion de Presupuesto Banco Santander", name: "description"}
    %meta{content: "CODDDE", name: "author"}
    = csrf_meta_tags
    %link{:href => "/apple-icon-57x57.png", :rel => "apple-touch-icon", :sizes => "57x57"}/
    %link{:href => "/apple-icon-60x60.png", :rel => "apple-touch-icon", :sizes => "60x60"}/
    %link{:href => "/apple-icon-72x72.png", :rel => "apple-touch-icon", :sizes => "72x72"}/
    %link{:href => "/apple-icon-76x76.png", :rel => "apple-touch-icon", :sizes => "76x76"}/
    %link{:href => "/apple-icon-114x114.png", :rel => "apple-touch-icon", :sizes => "114x114"}/
    %link{:href => "/apple-icon-120x120.png", :rel => "apple-touch-icon", :sizes => "120x120"}/
    %link{:href => "/apple-icon-144x144.png", :rel => "apple-touch-icon", :sizes => "144x144"}/
    %link{:href => "/apple-icon-152x152.png", :rel => "apple-touch-icon", :sizes => "152x152"}/
    %link{:href => "/apple-icon-180x180.png", :rel => "apple-touch-icon", :sizes => "180x180"}/
    %link{:href => "/android-icon-192x192.png", :rel => "icon", :sizes => "192x192", :type => "image/png"}/

    / HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries
    /[if lt IE 9]
      = javascript_include_tag "https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js", "https://oss.maxcdn.com/respond/1.4.2/respond.min.js"

    = stylesheet_link_tag    "/santander_budget/assets/application" ,media: 'all'
    = javascript_include_tag "/santander_budget/assets/application"

  %body

    #gritter-container

    = render 'shared/sidebar/structure'
    .container-fluid
      = render partial: "shared/flash_messages", flash: flash
      = yield
