.table-responsive
  %table.table.table-striped.table-bordered.table-hover#accounts-table{ "data-source" => "#{source_accounts_path(format: :json)}"}
    %thead
      %tr
        %th Código
        %th Nombre
        %th Descripción
        %th Fuente
        %th Código Ítem
        %th Ítem
        %th Acciones
    %tbody