= form_for @account, html: { class: "form-horizontal", role: "form" } do |f|
  -if @account.errors.any?
    .alert.alert-danger.alert-dismissable{role: "alert"}
      %button.close{type: "button", data: {dismiss: "alert"} }
        %span{aria: {hidden: "true"} } &times;
        %span.sr-only Close
      %h4= "#{pluralize(@account.errors.count, "error")}: prohibido que esta cuenta se guarde:"

      %ul
        - @account.errors.full_messages.each do |msg|
          %li= msg

  .form-group
    = f.label :name, class: 'col-sm-2 control-label'
    .col-sm-10
      = f.text_field :name, class: 'form-control'
  .form-group
    = f.label :code, class: 'col-sm-2 control-label'
    .col-sm-10
      = f.text_field :code, class: 'form-control'
  .form-group
    = f.label :description, class: 'col-sm-2 control-label'
    .col-sm-10
      = f.text_field :description, class: 'form-control'
  .form-group
    = f.label :source, class: 'col-sm-2 control-label'
    .col-sm-10.select_form
      = f.select :source, options_for_select(["Filial","Banco"],[@account.source])
  .form-group
    = f.label :item, class: 'col-sm-2 control-label'
    .col-sm-10.select_form
      -item = @account.item
      = f.select :item_id, options_for_select(Item.all.map {|u| [u.description, u.id]},[item.present? ? item.description : nil,item.present? ? item.id : nil]), :include_blank => false
  .form-group
    .col-sm-offset-2.col-sm-10
      = f.submit class: 'btn btn-primary', :value => "Actualizar cuenta"
