-@account_t = t('activerecord.models.account')
-@account_attributes_t = t('activerecord.attributes.account')
-@actions_t = t('actions')
.page-header
  %h1 Importar cuentas
= form_tag import_accounts_path, multipart: true, class:'form-horizontal' do
  - unless @row_with_error.nil?
    = bootstrap_model_errors(@row_with_error,"error en la fila #{@row_with_error.row_number} del archivo excel: ")

  .form-group
    %label.control-label.col-sm-2{:for => "file"} archivo Excel:
    .col-sm-10
      =file_field_tag :file, class: 'form-control'
  .form-group
    .col-sm-offset-2.col-sm-10
      = submit_tag "Subir archivo de cuentas",class: 'btn btn-danger'
      = link_to 'Descargar excel ejemplo',excel_example_accounts_path(format: "xlsx"), class: 'btn btn-default'
.page-header
  = link_to new_account_path, class: 'btn btn-primary' do
    %span.glyphicon.glyphicon-plus
    = "#{@actions_t[:newf]} #{@account_t[:one]}"
  %h1
    = @account_t[:other]

= render partial: "accounts_table"