.page-header
  = link_to accounts_path, class: 'btn btn-default' do
    %span.glyphicon.glyphicon-list-alt
    Atrás
  = link_to edit_account_path(@account), class: 'btn btn-primary' do
    %span.glyphicon.glyphicon-pencil
    Editar
  %h1 Mostrar cuenta

%dl.dl-horizontal
  %dt Nombre:
  %dd= @account.name
  %dt Codigo:
  %dd= @account.code
  %dt Descripción:
  %dd= @account.description
  %dt Fuente
  %dd= @account.source
  %dt Codigo Ítem
  %dd= @account.item.present? ? @account.item.code : ""
  %dt Glosa Ítem
  %dd= @account.item.present? ? @account.item.description : ""
